<template>
  <div :class="[`md-layout-item graph-snake`]" :disabled="disabled">
    <chart-card
      class="chart-card"
      header-animation="false"
      v-if="this.graph.data.labels.length > 0"
      :chart-data="this.graph.data"
      :chart-options="this.graph.options"
      chart-type="Line"
      header-icon
      chart-inside-content
      no-footer
      background-color="blue"
    >
      <template slot="chartInsideHeader">
        <div class="card-icon">
          <md-icon>timeline</md-icon>
        </div>
        <h4 class="title">
          {{ $t("activity") }}
          <small></small>
        </h4>
      </template>
    </chart-card>
  </div>
</template>
<script>
import { ChartCard } from "@/components";
export default {
  name: "s-graph-snake",
  components: {
    ChartCard
  },
  props: {
    disabled: Boolean,
    url: String,
    postData: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  mounted() {
    let postData = new URLSearchParams();
    postData.append("token_report", localStorage.getItem("op_token_report"));
    this.$axios.post(this.url, postData).then(
      response => {
        this.initGraph(response);
      },
      error => {}
    );
  },
  data() {
    return {
      graph: {
        data: {
          labels: [],
          series: [[]]
        },
        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 10
          }),
          axisY: {
            showGrid: true,
            offset: 40
          },
          axisX: {
            offset: 50,
            showGrid: false
          },

          low: 0,
          showPoint: true,
          height: "320px"
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      }
    };
  },
  methods: {
    initGraph(response) {
      if (response.data) {
        this.graph.data.labels = response.data.payload.labels.slice(-12);
        this.graph.data.series = [response.data.payload.data.slice(-12)];
        this.graph.options.high =
          Math.max.apply(Math, this.graph.data.series[0]) + 1000;
      }
    }
  },
  watch: {}
};
</script>
<style lang="scss">
.graph-snake {
  min-width: 400px;
  .chart-card {
    min-height: 400px;
  }
}
</style>
