<template>
  <div :class="[`md-layout-item graph-map`]" v-if="this.markers.length">
    <global-sales-card
      class="chart-card"
      header-color="blue"
      :style="{ height: this.height + 'px' }"
    >
      <template slot="header">
        <div class="card-icon">
          <md-icon>place</md-icon>
        </div>
        <h4 class="title">{{ this.$S_i18n.t("APP_GRAPH_MAPH_TITLE") }}</h4>
      </template>

      <template slot="content">
        <div class="md-layout">
          <div class="md-layout-item md-size-100">
            <async-world-map
              class="map"
              :data="this.data"
              :markers="this.markers"
              style="margin-left: 15px;margin-top: 5px;"
            ></async-world-map>
          </div>
        </div>
      </template>
    </global-sales-card>
  </div>
</template>
<script>
import { GlobalSalesCard } from "@/components";
import AsyncWorldMap from "@/components/WorldMap/AsyncWorldMap.vue";
export default {
  name: "s-graph-map",
  components: {
    GlobalSalesCard,
    AsyncWorldMap
  },
  props: {
    disabled: Boolean,
    id: Number,
    name: String,
    url: String,
    postData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    height: {
      type: String
    }
  },
  beforeCreate: function() {
    this.$options.components.ChartCard = require("@/components/Cards/ChartCard.vue").default;
    this.$options.components.GlobalSalesCard = require("@/components/Cards/GlobalSalesCard.vue").default;
  },
  created() {
    this.$APP_Services.VRDomains_Map().then(
      response => {
        this.initGraph(response);
        this.$emit(`rendering-finished-${this.name}`, this.name);
      },
      error => {}
    );
  },
  data() {
    return {
      graphTmpData: [],
      data: {},
      markers: []
    };
  },
  methods: {
    initGraph(response) {
      this.graphTmpData = response.data.payload;
      this.markers = Object.values(this.graphTmpData);
    }
  },
  watch: {}
};
</script>
<style lang="scss">
.graph-map {
  min-width: 400px;
  .chart-card {
    min-height: 400px;
  }
}
</style>
