<template>
  <div :class="[`md-layout-item graph-clouds`]" :disabled="disabled">
    <chart-card
      header-animation="false"
      v-if="this.graph.data.labels.length > 0"
      :chart-data="this.graph.data"
      :chart-options="this.graph.options"
      chart-type="Line"
      header-icon
      chart-inside-content
      :background-color="this.color"
      :style="{ height: this.height + 'px' }"
    >
      <template slot="chartInsideHeader">
        <div class="card-icon">
          <md-icon>{{ this.icon }}</md-icon>
        </div>
        <h4 class="title">
          <small>
            {{ this.title }}
          </small>
        </h4>
      </template>
      <template slot="footer">
        <div class="stats">
          <span
            class="md-layout-item text-info"
            v-for="i in this.graph.data.labels"
            :key="i"
            :label="i"
            :value="i"
            >{{ getLegend(i) }}</span
          >
        </div>
      </template>
    </chart-card>
  </div>
</template>

<script>
import { ChartCard } from "@/components";
import Chartist from "chartist";
import Tooltip from "chartist-plugin-tooltip";
export default {
  name: "s-graph-clouds",
  components: {
    ChartCard
  },
  props: {
    disabled: Boolean,
    url: String,
    postData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    title: String,
    icon: String,
    color: String,
    name: String,
    height: {
      type: String
    }
  },
  created() {
    this.$APP_Services.VRDocuments_Cloud().then(
      response => {
        this.initGraph(response);
        this.$emit(`rendering-finished-${this.name}`, this.name);
      },
      error => {}
    );
  },
  data() {
    return {
      graph: {
        data: {
          labels: [],
          series: [[], []]
        },
        options: {
          showLine: false,
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 10
          }),
          axisY: {
            low: 2,
            high: 6,
            showGrid: true,
            offset: 70,

            labelInterpolationFnc: value => {
              if (value === 3) {
                return this.$S_i18n.t("APP_GRAPH_CLOUDS_LEGEND_SENSIBLE");
              }
              if (value === 5) {
                return this.$S_i18n.t("APP_GRAPH_CLOUDS_LEGEND_LEAKAGES");
              }
              return String.fromCharCode("");
            }
          },
          axisX: {
            type: Chartist.AutoScaleAxis,
            scaleMinSpace: 20,
            onlyInteger: true,
            ticks: [],
            labelInterpolationFnc: (value, index, ticks) => value
          },
          showPoint: true,
          height: "250px"
        }
      }
    };
  },
  beforeCreate: function() {
    this.$options.components.ChartCard = require("@/components/Cards/ChartCard.vue").default;
  },
  methods: {
    getLegend(label) {
      const index = this.graph.data.labels.indexOf(label);
      return index + 1 + ": " + label;
    },
    generateData(n, xCenter, yCenter) {
      let data = [];
      const spread = 0.3;
      for (let i = 0; i < n; i++) {
        data.push({
          x: xCenter + Math.random() * spread * Math.cos((360 * i) / n),
          y: yCenter + Math.random() * spread * Math.sin((360 * i) / n)
        });
      }

      return data;
    },
    initGraph(response) {
      let auxGraph = Object.values(response.data.payload);
      if (auxGraph !== "") {
        this.graph.data.labels = Object.keys(response.data.payload);
        this.graph.data.labels = this.graph.data.labels.slice(
          0,
          this.graph.data.labels.length
        );
        this.graph.options.axisX.high = this.graph.data.labels.length + 1;
        this.graph.options.axisX.ticks = this.graph.data.labels;

        for (var i = 0; i < this.graph.data.labels.length; i++) {
          this.graph.data.series[0] = this.graph.data.series[0].concat(
            this.generateData(
              auxGraph[i].total_sensible,
              auxGraph[i].position,
              auxGraph[i].position_sensible
            )
          );
          this.graph.data.series[1] = this.graph.data.series[1].concat(
            this.generateData(
              auxGraph[i].total_leakage,
              auxGraph[i].position,
              auxGraph[i].position_leakage
            )
          );
        }
      }
    }
  },
  watch: {}
};
</script>

<style lang="scss">
.graph-clouds {
  min-width: 400px;
  .chart-card {
    min-height: 400px;
  }
}
.text-info {
  display: inline !important;
}
</style>
