<template>
  <div
    :class="[`md-layout-item graph-equalizer-multiple`]"
    :disabled="disabled"
  >
    <chart-card
      header-animation="false"
      v-if="this.graph.data.labels.length > 0"
      :chart-data="this.graph.data"
      :chart-options="this.graph.options"
      chart-type="Bar"
      header-icon
      chart-inside-content
      :background-color="this.color"
      style="height: 430px;"
    >
      <template slot="chartInsideHeader">
        <div class="card-icon">
          <md-icon>{{ this.icon }}</md-icon>
        </div>
        <h4 class="title">
          <small>
            {{ this.title }}
          </small>
        </h4>
      </template>
      <template slot="footer">
        <div class="stats" style="margin-top:-5px;">
          <div class="md-layout-item" md-column>
            <span>
              <em class="fa fa-square text-info"></em>&nbsp; &nbsp;
              {{
                `% ${$S_i18n.t("APP_GRAPH_EQUALIZER_MULTIPLE_LEGEND_SENSIBLE")}`
              }}</span
            >&nbsp;
          </div>
          <div class="md-layout-item" md-column>
            <span>
              <em class="fa fa-square text-danger"></em>&nbsp;&nbsp;{{
                `% ${$S_i18n.t("APP_GRAPH_EQUALIZER_MULTIPLE_LEGEND_LEAKAGES")}`
              }} </span
            >&nbsp;
          </div>
        </div>
      </template>
    </chart-card>
  </div>
</template>
<script>
import { ChartCard } from "@/components";
import Tooltip from "chartist-plugin-tooltip";
export default {
  name: "s-graph-equalizer-multiple",
  components: {
    ChartCard
  },
  props: {
    disabled: Boolean,
    url: String,
    postData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    title: String,
    icon: String,
    color: String,
    name: String
  },
  beforeCreate: function() {
    this.$options.components.ChartCard = require("@/components/Cards/ChartCard.vue").default;
  },
  mounted() {
    this.$APP_Services.VRDomains_Equalizer().then(
      response => {
        this.initGraph(response);
        this.$emit(`rendering-finished-${this.name}`, this.name);
      },
      error => {}
    );
  },
  data() {
    return {
      graph: {
        data: {
          labels: [],
          series: [[], []]
        },
        options: {
          seriesBarDistance: 0,
          stackBars: true,
          axisX: {
            offset: 15,
            showGrid: false,
            labelInterpolationFnc: function(value) {
              for (var i = 0; i < value.length; i++) {
                if (value.length > 18) {
                  return value.substring(0, 18) + "..";
                } else return value;
              }
            }
          },
          height: "280px",
          fullWidth: true,
          plugins: [
            Tooltip({
              anchorToPoint: true,
              appendToBody: true
            })
          ],
          TooltipClass: ".ct-tooltip"
        },

        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      }
    };
  },
  methods: {
    getFilter(arr, filter) {
      return arr.filter(el => el.metaseverity_name === filter);
    },

    initGraph(response) {
      if (response.data.payload) {
        let auxGraph = response.data.payload;
        this.graph.data.labels = [""];
        let arrName = auxGraph.reduce((acc, el) => {
          const arrTotal = auxGraph.filter(element => el.meta === element.meta);
          const totalValue = arrTotal.reduce(
            (account, element) => account + parseInt(element.value),
            0
          );

          acc[el.meta] = arrTotal.map((e, i, arr) => {
            arr.length < 2
              ? (e.value = 100)
              : (e.value = Math.round((parseInt(e.value) * 100) / totalValue));
            return e;
          });

          if (acc[el.meta].length < 2) {
            acc[el.meta].push({
              meta: `${acc[el.meta][0].meta}`,
              metaseverity_name: `${
                acc[el.meta][0].metaseverity_name === "Sensible"
                  ? "Filtracion"
                  : "Sensible"
              }`,
              value: 0
            });
          }
          return acc;
        }, {});

        Object.values(arrName).forEach(f => {
          f.forEach(element => {
            element.metaseverity_name === "Filtracion"
              ? this.graph.data.series[0].push(element)
              : this.graph.data.series[1].push(element);
          });
        });
      }
    }
  },
  watch: {}
};
</script>
<style lang="scss">
.graph-equalizer-multiple {
  min-width: 400px;
  .chart-card {
    min-height: 430px;
  }
}
</style>
