<template>
  <div
    :class="[`md-layout-item graph-equalizer`]"
    v-if="this.graph.data.labels.length > 0"
  >
    <chart-card
      class="chart-card"
      header-animation="false"
      :chart-data="this.graph.data"
      :chart-options="this.graph.options"
      chart-type="Bar"
      header-icon
      chart-inside-content
      no-footer
      :background-color="this.color"
    >
      <template slot="chartInsideHeader">
        <div class="card-icon">
          <md-icon>{{ this.icon }}</md-icon>
        </div>
        <h4 class="title">
          <small>
            {{ this.title }}
          </small>
          <a
            href="http://suments.com/como-utilizar-verics/"
            class="md-list-item-router md-list-item-container"
          >
          </a>
        </h4>
      </template>
    </chart-card>
  </div>
</template>
<script>
import ChartCard from "@/components";
import Tooltip from "chartist-plugin-tooltip";
export default {
  name: "s-graph-equalizer",
  components: {
    ChartCard
  },
  props: {
    disabled: Boolean,
    url: String,
    postData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    title: String,
    icon: String,
    color: String,
    name: String,
    graphHeight: {
      type: String,
      default: "300"
    },
    fileNameLegend: {
      type: Boolean,
      default: false
    },
    leakagesEqualizer: Boolean,
    documentsEqualizer: Boolean
  },
  beforeCreate: function() {
    this.$options.components.ChartCard = require("@/components/Cards/ChartCard.vue").default;
  },
  mounted() {
    if (this.leakagesEqualizer) {
      this.$APP_Services.VRLeakages_Equalizer().then(
        response => {
          this.initGraph(response);
          this.$emit(`rendering-finished-${this.name}`, this.name);
        },
        error => {}
      );
    } else if (this.documentsEqualizer) {
      this.$APP_Services.VRDomains_Equalizer().then(
        responsedocs => {
          this.initGraph(responsedocs);
          this.$emit(`rendering-finished-${this.name}`, this.name);
        },
        error => {}
      );
    }
  },
  data() {
    return {
      errorMessage: "",
      graph: {
        data: {
          labels: [],
          series: [[]]
        },
        options: {
          seriesBarDistance: 10,
          axisX: {
            showGrid: false,
            offset: 70,
            labelInterpolationFnc: function(value) {
              for (var i = 0; i < value.length; i++) {
                if (value.length > 11) {
                  return value.substring(0, 11) + "..";
                } else return value;
              }
            }
          },
          axisY: {
            showGrid: true,
            offset: 45
          },
          height: this.graphHeight + "px",
          fullWidth: true,
          plugins: [
            Tooltip({
              anchorToPoint: true,
              appendToBody: true
            })
          ],
          TooltipClass: ".ct-tooltip"
        },

        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      }
    };
  },
  methods: {
    initGraph(response) {
      if (response.data !== "") {
        this.graph.data.series = [response.data.payload.data];
        this.fileNameLegend
          ? (this.graph.data.labels = this.getStandarNameLabel(
              response.data.payload.labels
            ))
          : (this.graph.data.labels = response.data.payload.labels);
      }
    },
    getStandarNameLabel(arr) {
      return arr.map((el, num) => `Autor ${num + 1}`);
    }
  },
  watch: {}
};
</script>
<style lang="scss">
.graph-equalizer {
  min-width: 400px;
  .chart-card {
    min-height: 400px;
  }
}
</style>
