<template>
  <div
    :class="[`md-layout-item graph-cheddar`]"
    v-if="this.graph.data.series.length > 0"
  >
    <chart-card
      class="chart-card"
      header-animation="false"
      :chart-data="graph.data"
      :chart-options="graph.options"
      chart-type="Pie"
      header-icon
      :noFooter="!this.footer"
      chart-inside-content
      :background-color="this.color"
      :style="{ height: this.height + 'px' }"
    >
      <template slot="chartInsideHeader">
        <div v-if="!this.header" class="card-icon">
          <md-icon>pie_chart</md-icon>
        </div>
        <h4 class="title">
          <img
            v-if="this.header"
            class="img-cheddar"
            :src="logo_verics"
            alt=""
          />&nbsp;{{ this.title }}
        </h4>
      </template>

      <template slot="footer">
        <div class="stats" v-if="this.footer">
          <div class="md-layout-item" md-column>
            <span>
              <em class="fa fa-square text-danger"></em>&nbsp;
              <animated-number
                :value="this.graph.data.series[0]"
              ></animated-number
              >&nbsp; {{ this.$S_i18n.t("APP_GRAPH_CHEDDAR_LEGEND_LEAKAGES") }}
            </span>
          </div>
          <div class="md-layout-item" md-column>
            <span>
              <em class="fa fa-square text-warning"></em>&nbsp;
              <animated-number :value="this.graph.data.series[1]">
              </animated-number>
              &nbsp;
              {{ this.$S_i18n.t("APP_GRAPH_CHEDDAR_LEGEND_SENSIBLE") }}</span
            >&nbsp;
          </div>
        </div>
      </template>
    </chart-card>
  </div>
</template>
<script>
import ChartCard from "@/components";
import AnimatedNumber from "@/components/AnimatedNumber.vue";
import Legend from "chartist-plugin-legend";
export default {
  name: "s-graph-cheddar",
  components: {
    ChartCard,
    AnimatedNumber
  },
  props: {
    disabled: Boolean,
    color: String,
    name: String,
    url: String,
    postData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    title: String,
    legend: Boolean,
    footer: Boolean,
    header: Boolean,
    height: {
      type: String
    },
    fileNameLegend: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.$APP_Services.VRLeakages_Cheddar().then(
      response => {
        this.initGraph(response);
        this.sentEvent();
      },
      error => {}
    );
  },
  beforeCreate: function() {
    this.$options.components.ChartCard = require("@/components/Cards/ChartCard.vue").default;
  },
  data() {
    return {
      logo_verics: "./img/verics_isotipo.svg",
      graph: {
        data: {
          labels: [],
          series: []
        },

        options: {
          height: "250px",
          plugins: [Legend()],
          legendClass: "ct-legend",
          labelInterpolationFnc: value => {
            return "";
          }
        }
      }
    };
  },
  methods: {
    initGraph(response) {
      this.graph.data.series = response.data.payload.data;
      this.fileNameLegend
        ? (this.graph.data.labels = this.getStandarNameLabel(
            response.data.payload.labels
          ))
        : (this.graph.data.labels = response.data.payload.labels);
    },
    getStandarNameLabel(arr) {
      return arr.map((el, num) => `Autor ${num + 1}`);
    },
    sentEvent() {
      this.$emit(`rendering-finished-${this.name}`, this.name);
    }
  },
  watch: {}
};
</script>
<style lang="scss">
.graph-cheddar {
  min-width: 400px;
  .chart-card {
    min-height: 400px;
  }
}

.img-cheddar {
  margin-top: -3px;
  max-width: 45px;
  height: 45px;
  //justify: left;
}
</style>
