<template>
  <div class="md-layout">
    <div class="md-layout">
      <!-- BUTTON -->
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <div>
          <md-button
            class="md-primary md-round float-left button-dashboard"
            @click="$router.push('/pages/add-domain')"
            ><md-icon>add</md-icon>
            {{ this.$S_i18n.t("APP_ADD_SITE_BUTTON_LABEL") }}
          </md-button>
        </div>
      </div>

      <!--- TABLE ---->
      <div class="md-layout-item">
        <s-info-table
          v-bind:url="urlInfoTable"
          v-bind:post-data="postData"
          v-bind:states="statesTable"
          v-bind:dashboardTable="true"
          v-bind:title="$S_i18n.t('APP_S_INFO_TABLE_TITLE')"
          v-bind:icon="'business'"
          v-bind:filterTitle="$S_i18n.t('APP_S_INFO_TABLE_FILTER')"
          v-bind:color="'blue'"
        ></s-info-table>
      </div>
    </div>
  </div>
</template>

<script>
//import Loading from "vue-loading-overlay";
import SInfoNotification from "@/components/NotificationPlugin/SInfoNotification.vue";
import SInfoTable from "@/components/Tables/SInfoTable.vue";
//import { Pagination } from "@/components";
import users from "/src/pages/Dashboard/Pages/users.js";
import Fuse from "fuse.js";
import Swal from "sweetalert2";

export default {
  components: {
    SInfoTable
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  },
  data() {
    return {
      ctrl_data_ready: false,
      mcData: {},
      currentSort: "domain",
      currentSortOrder: "asc",
      table_col_names: [
        this.$S_i18n.t("BF_APP_DASHBOARD_TABLE_COL0"),
        this.$S_i18n.t("BF_APP_DASHBOARD_TABLE_COL1"),
        this.$S_i18n.t("BF_APP_DASHBOARD_TABLE_COL2"),
        this.$S_i18n.t("BF_APP_DASHBOARD_TABLE_COL3")
      ],
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },

      searchQuery: "",
      propsToSearch: ["domain", "date_end", "name"],
      tableData: {},
      searchedData: [],
      fuseSearch: null,
      isReady: false,
      isLoading: true,
      fullPage: true,
      loaderColor: "#673ab7",
      loaderType: "dots",
      backgroundColor: "#00000",
      index: 9999,

      urlInfoTable: process.env.VUE_APP_DASHBOARD_STableDashboard,
      postData: {},
      statesTable: {
        filter: this.$S_i18n.t("APP_S_INFO_TABLE_STATES_FILTER_ALL"),
        filterOptions: [
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_FILTER_ALL"),
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_FINISHED"),
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_ANALYZING"),
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_QUEUED")
        ],
        searchable: ["#", "ready", "working", "queue"],
        keys: ["status"],
        searchKey: ["name_comercial", "domain"]
      },
      states: {
        searchable: ["#", "working", "ready"],
        keys: ["status"],
        filter: this.$S_i18n.t("APP_S_INFO_TABLE_STATES_FILTER_ALL"),
        filterOptions: [
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_FILTER_ALL"),
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_FINISHED"),
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_ANALYZING"),
          this.$S_i18n.t("APP_S_INFO_TABLE_STATES_WITHOUT_ANALYZING")
        ]
      }
    };
  },
  methods: {
    customSort(value) {
      return value.sort((a, b) => {
        const sortBy = this.currentSort;
        if (this.currentSortOrder === "desc") {
          return a[sortBy].localeCompare(b[sortBy]);
        }
        return b[sortBy].localeCompare(a[sortBy]);
      });
    },

    handleItem(item) {
      this.$BF_TOOLS.operationalInfo_Set(item);
      this.$router.push("/pages/add-domain");
    }
  },

  mounted() {
    /**
    this.$BF_TOOLS.operationalInfo_Clear();

    this.$BF_Services.domain_get_all().then(response => {
      //console.log(response);
      //this.tableData = response.data.payload;
      this.tableData = response;
      this.ctrl_data_ready = true;
    });

    this.isLoading = false;
     */
  },
  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      let temp = [];
      if (value !== "") {
        this.fuseSearch = new Fuse(this.tableData, {
          keys: ["domain", "date_end", "name"],
          threshold: 0.3
        });
        result = this.fuseSearch.search(this.searchQuery);
        for (var i = 0; i < result.length; i++) {
          temp[i] = result[i].item;
        }
      }
      this.searchedData = temp;
    }
  }
};
</script>

<style lang="css" scoped>
.md-card .md-card-actions {
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.md-card-header {
  margin-top: 10px;
}
.float-right {
  float: right;
}
.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-button {
  margin-right: 30px;
}

.button-dashboard {
  margin-left: 15px;
}
</style>
