<template>
  <!--
  <div :class="[` md-layout-item info-table`]">
    -->
  <div class="md-layout">
    <loading
      :active.sync="isLoading"
      :can-cancel="true"
      :is-full-page="fullPage"
    ></loading>

    <div class="md-layout-item">
      <md-card v-if="plain == false">
        <md-card-header>
          <h3 class="title">
            <b>{{ title }}</b>
          </h3>
          <h3 class="title" v-if="rawTable">
            <small>{{ $S_i18n.t("APP_S_INFO_TABLE_DOWNLOAD_INFO") }}</small>
            <a
              href="hrefDownloadButton"
              class="md-list-item-router md-list-item-container"
            >
            </a>
          </h3>
        </md-card-header>
        <md-card-content>
          <md-table
            class="paginated-table table-striped table-hover text-primary description"
            :value="queriedData"
            :md-sort.sync="currentSort"
            :md-sort-order.sync="currentSortOrder"
            :md-sort-fn="customSort"
          >
            <md-table-toolbar>
              <md-field>
                <label for="pages">{{
                  $S_i18n.t("BF_TABLE_PAGINATION_LABEL")
                }}</label>
                <md-select v-model="pagination.perPage" name="pages">
                  <md-option
                    v-for="item in pagination.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                    >{{ item }}</md-option
                  >
                </md-select>
              </md-field>

              <md-field>
                <label for="pages">{{
                  $S_i18n.t("APP_S_INFO_TABLE_FILTER")
                }}</label>
                <md-select v-model="states.filter" name="statesSelector">
                  <md-option
                    v-for="item in states.filterOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                    >{{ setLeakages(item) }}</md-option
                  >
                </md-select>
              </md-field>
              <div></div>
              <md-field>
                <md-input
                  type="search"
                  class="mb-3"
                  clearable
                  style="width: 200px"
                  v-bind:placeholder="$S_i18n.t('BF_TABLE_SEARCH_LABEL')"
                  name="search"
                  v-model="searchQuery"
                ></md-input>
              </md-field>
            </md-table-toolbar>

            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell
                v-if="dashboardTable"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_DOMAIN')
                "
                md-sort-by="domain"
                class="domain"
              >
                <a v-bind:href="item.domain">{{ item.domain }}</a>
              </md-table-cell>

              <md-table-cell
                v-if="dashboardTable"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_COMPANY')
                "
                md-sort-by="name_comercial"
                >{{ item.name_comercial }}</md-table-cell
              >

              <md-table-cell
                v-if="dashboardTable"
                class="date_requested"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_APLICATION_DATE')
                "
                md-sort-by="date_requested"
              >
                <div v-if="item.date_requested">
                  {{ item.date_requested.substring(0, 10) }}
                </div>
              </md-table-cell>

              <md-table-cell
                v-if="dashboardTable"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_STATE')
                "
                md-sort-by="status"
                style="min-width:200px;"
              >
                <!-- Finished -->
                <div
                  v-if="item.status === 'ready'"
                  class="md-group"
                  style="text-align:center;"
                >
                  <md-button
                    class="md-round md-info md-just-icon md-sm"
                    @click="openReport(item)"
                    ><md-icon>assignment</md-icon
                    >{{
                      $S_i18n.t("APP_S_INFO_ACTIONS_VIEW_REPORT")
                    }}</md-button
                  >
                </div>

                <!-- Pause and In progress -->
                <div
                  v-if="item.status === 'queue' || item.status === 'working'"
                  class="md-layout-item md-size-100 md-small-size-100"
                >
                  <p class="text-danger" v-if="item.status === 'queue'">
                    {{ $S_i18n.t("APP_S_INFO_TABLE_STATES_QUEUED") }}
                  </p>
                  <p class="text-warning" v-if="item.status === 'working'">
                    {{ $S_i18n.t("APP_S_INFO_TABLE_STATES_ANALYZING") }}
                  </p>
                  <beat-loader
                    class="custom-class"
                    :color="
                      getValue(
                        {
                          queue: '#FA5D3C',
                          working: '#FFBF46'
                        },
                        item.status,
                        ''
                      )
                    "
                    :loading="true"
                    :size="8"
                    :margin="'2px'"
                  ></beat-loader>
                </div>

                <!-- Empty -->
                <div class="md-group" v-if="item.status === ''">
                  <md-button
                    class="md-round md-success md-just-icon md-sm"
                    disabled
                  >
                    <md-icon>search</md-icon
                    >{{ $S_i18n.t("APP_S_INFO_TABLE_STATES_ANALYZE") }}
                  </md-button>
                </div>
              </md-table-cell>

              <!--RGPD-->
              <md-table-cell
                v-if="dashboardTable"
                class="date_requested"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_RGPD')
                "
                md-sort-by="date_requested"
              >
                <div class="md-group">
                  <md-button
                    class="md-round md-success md-just-icon md-simple md-sm"
                    :disabled="false"
                    @click="showSwal()"
                    ><md-icon>policy</md-icon>
                    {{
                      $S_i18n.t("APP_S_INFO_ACTIONS_RGPD_ANALYSE")
                    }}</md-button
                  >
                </div>
              </md-table-cell>
              <md-table-cell
                v-if="dashboardTable"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_METADATA')
                "
                md-sort-by="mcStatus"
              >
                <div class="md-group">
                  <md-button
                    class="md-round md-rose md-just-icon md-simple md-sm"
                    :disabled="false"
                    href="https://metawash.me/#/landing"
                    target="_blank"
                    ><md-icon>cleaning_services</md-icon>
                    {{ $S_i18n.t("APP_S_INFO_ACTIONS_CLEANING") }}</md-button
                  >
                </div>
              </md-table-cell>

              <md-table-cell
                v-if="leakages"
                class="metadata_count"
                v-bind:md-label="
                  $S_i18n.t(
                    'APP_S_INFO_TABLE_REPORT_LEAKAGES_NUM_OF_APPEARANCES'
                  )
                "
                md-sort-by="metadata_count"
                >{{ item.metadata_count }}</md-table-cell
              >

              <md-table-cell
                v-if="leakages"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_DATA')
                "
                class="metadata"
                md-sort-by="metadata"
              >
                <md-icon
                  class="text-danger"
                  v-if="dniValidator(item.metadata)"
                  id="icon"
                  >new_releases</md-icon
                >
                {{ item.metadata }}
              </md-table-cell>

              <md-table-cell
                v-if="leakages"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_BAN')
                "
                md-sort-by="severity"
                class="severity"
              >
                <md-button
                  class="md-danger md-simple"
                  @click.native="handleDiscard(item, item.metadata, 'leakages')"
                >
                  <md-tooltip md-direction="bottom">{{
                    $S_i18n.t("APP_S_INFO_TABLE_REPORT_LEAKAGES_BAN_TEXT")
                  }}</md-tooltip>
                  <md-icon
                    class="text-danger"
                    style="margin-right:50px;margin-top:-15px;"
                    >visibility_off</md-icon
                  >
                </md-button>
              </md-table-cell>

              <md-table-cell
                v-if="leakages"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_DIRECT_SEARCH')
                "
              >
                <div
                  class="md-layout-item md-size-10 md-xsmall-size-100 md-medium-size-35"
                >
                  <md-button
                    class="md-simple md-just-icon md-google"
                    target="_blank"
                    v-bind:href="
                      `https://www.google.com/search?q=${item.metadata}`
                    "
                  >
                    <i class="fab fa-google"></i>
                  </md-button>
                  <md-button
                    class="md-simple md-just-icon md-linkedin"
                    target="_blank"
                    v-bind:href="
                      `https://www.linkedin.com/search/results/all/?keywords=${item.metadata}`
                    "
                  >
                    <em class="fab fa-linkedin-in"></em>
                  </md-button>
                  <md-button
                    class="md-simple md-just-icon md-facebook"
                    target="_blank"
                    v-bind:href="
                      `https://www.facebook.com/search/top?q=${item.metadata}`
                    "
                  >
                    <em class="fab fa-facebook"></em>
                  </md-button>
                  <md-button
                    class="md-simple md-just-icon md-twitter"
                    target="_blank"
                    v-bind:href="
                      `https://twitter.com/search?q=${item.metadata}`
                    "
                  >
                    <em class="fab fa-twitter"></em>
                  </md-button>
                </div>
              </md-table-cell>

              <md-table-cell
                v-if="documentsTable"
                v-bind:md-label="$S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_FACT')"
                md-sort-by="metadata"
                class="metadata-documentsTable"
                ><md-icon
                  class="text-danger"
                  v-if="dniValidator(item.metadata)"
                  id="iconfirst"
                  >new_releases</md-icon
                >{{ item.metadata }}</md-table-cell
              >
              <md-table-cell
                v-if="documentsTable"
                v-bind:md-label="
                  $S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_DOCUMENT')
                "
                md-sort-by="document"
                class="document"
              >
                <a
                  v-bind:href="`https://${item.url}`"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ item.document }}</a
                >
              </md-table-cell>

              <md-table-cell
                v-if="documentsTable"
                v-bind:href="item.domain"
                v-bind:md-label="
                  $S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_DOMAIN')
                "
                md-sort-by="domain"
                class="domain-documentsTable"
              >
                <a
                  v-bind:href="`https://${item.domain}`"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ item.domain }}</a
                >
              </md-table-cell>
              <md-table-cell
                v-if="documentsTable"
                v-bind:md-label="
                  $S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_FILE_TYPE')
                "
                md-sort-by="filetype"
                class="filetype"
                >{{ item.filetype }}</md-table-cell
              >
              <md-table-cell
                v-if="domainsTable"
                v-bind:md-label="$S_i18n.t('APP_S_DOMAINS_TABLE_COLUMN_FACT')"
                md-sort-by="value"
                style="overflow-wrap: break-word;"
                ><md-icon
                  class="text-danger"
                  v-if="dniValidator(item.value)"
                  id="iconfirst"
                  >new_releases</md-icon
                >{{ item.value }}</md-table-cell
              >
              <md-table-cell
                v-if="domainsTable"
                v-bind:md-label="$S_i18n.t('APP_S_DOMAINS_TABLE_COLUMN_DOMAIN')"
                v-bind:href="item.domain"
                md-sort-by="domain"
                style="overflow-wrap: break-word;"
                >{{ item.domain }}</md-table-cell
              >
              <md-table-cell
                v-if="domainsTable"
                v-bind:md-label="$S_i18n.t('APP_S_DOMAINS_TABLE_COLUMN_RISKS')"
                md-sort-by="metaseverity_name"
                >{{ setLeakages(item.metaseverity_name) }}</md-table-cell
              >
              <md-table-cell
                v-if="rawTable"
                v-bind:md-label="
                  $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_SEVERITY')
                "
                md-sort-by="metaseverity_name"
                >{{ setLeakages(item.metaseverity_name) }}</md-table-cell
              >

              <md-table-cell v-if="rawTable" md-label="Dato" md-sort-by="value"
                ><md-icon
                  class="text-danger"
                  v-if="dniValidator(item.value)"
                  id="icon"
                  >new_releases</md-icon
                >
                {{ item.value }}</md-table-cell
              >

              <md-table-cell
                v-if="rawTable"
                v-bind:md-label="
                  $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_DOMAIN')
                "
                md-sort-by="domain"
              >
                <a
                  v-bind:href="item.domain"
                  style="overflow-wrap: break-word;"
                  >{{ item.domain }}</a
                >
              </md-table-cell>
              <md-table-cell
                v-if="rawTable"
                v-bind:md-label="
                  $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_ENLACE')
                "
                md-sort-by="url"
                style="min-width;overflow-wrap: break-word;"
              >
                <a
                  v-bind:href="`https://` + item.url"
                  style="overflow-wrap: break-word;"
                  >{{ item.url }}</a
                >
              </md-table-cell>
              <md-table-cell
                v-if="rawTable"
                v-bind:md-label="
                  $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_FILE_TYPE')
                "
                md-sort-by="filetype"
                >{{ item.filetype }}</md-table-cell
              >
            </md-table-row>
          </md-table>
        </md-card-content>
        <md-card-actions md-alignment="space-between">
          <div class>
            <p class="card-category">
              {{ this.$S_i18n.t("BF_TABLE_PAGINATION_SHOWING_LABEL") }}
              {{ from + 1 }}
              {{ this.$S_i18n.t("BF_TABLE_PAGINATION_TO_LABEL") }} {{ to }}
              {{ this.$S_i18n.t("BF_TABLE_PAGINATION_OF_LABEL") }} {{ total }}
              {{ this.$S_i18n.t("BF_TABLE_PAGINATION_ENTRIES_LABEL") }}
            </p>
          </div>
          <pagination
            class="pagination-no-border pagination-info"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></pagination>
        </md-card-actions>
      </md-card>
    </div>
    <div v-if="plain">
      <md-card-header>
        <h3 class="title">{{ title }}</h3>
        <h3 class="title" v-if="rawTable">
          <small>{{ $S_i18n.t("APP_S_INFO_TABLE_DOWNLOAD_INFO") }}</small>
          <a
            href="hrefDownloadButton"
            class="md-list-item-router md-list-item-container"
          >
          </a>
        </h3>
      </md-card-header>
      <md-card-content>
        <md-table
          class="paginated-table table-striped table-hover"
          :value="queriedData"
          :md-sort.sync="currentSort"
          :md-sort-order.sync="currentSortOrder"
          :md-sort-fn="customSort"
        >
          <md-table-toolbar>
            <md-field>
              <label for="pages">{{
                $S_i18n.t("BF_TABLE_PAGINATION_LABEL")
              }}</label>
              <md-select v-model="pagination.perPage" name="pages">
                <md-option
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                  >{{ item }}</md-option
                >
              </md-select>
            </md-field>

            <md-field>
              <label for="pages">{{
                $S_i18n.t("APP_S_INFO_TABLE_FILTER")
              }}</label>
              <md-select v-model="states.filter" name="statesSelector">
                <md-option
                  v-for="item in states.filterOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                  >{{ setLeakages(item) }}</md-option
                >
              </md-select>
            </md-field>
            <div></div>
            <md-field>
              <md-input
                type="search"
                class="mb-3"
                clearable
                style="width: 200px"
                v-bind:placeholder="$S_i18n.t('BF_TABLE_SEARCH_LABEL')"
                name="search"
                v-model="searchQuery"
              ></md-input>
            </md-field>
          </md-table-toolbar>

          <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell
              v-if="dashboardTable"
              v-bind:md-label="$S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_WEB')"
              class="img-box-cell"
            >
            </md-table-cell>

            <md-table-cell
              v-if="dashboardTable"
              v-bind:md-label="
                $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_COMPANY')
              "
              md-sort-by="name_comercial"
              >{{ item.name_comercial }}</md-table-cell
            >

            <md-table-cell
              v-if="dashboardTable"
              v-bind:md-label="
                $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_DOMAIN')
              "
              md-sort-by="domain"
              class="domain"
            >
              <a v-bind:href="item.domain">{{ item.domain }}</a>
            </md-table-cell>

            <md-table-cell
              v-if="dashboardTable"
              class="date_requested"
              v-bind:md-label="
                $S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_APLICATION_DATE')
              "
              md-sort-by="date_requested"
            >
              <div v-if="item.date_requested">
                {{ item.date_requested.substring(0, 10) }}
              </div>
            </md-table-cell>

            <md-table-cell
              v-if="dashboardTable"
              v-bind:md-label="$S_i18n.t('APP_S_INFO_TABLE_COLUMN_TITLE_STATE')"
              md-sort-by="status"
            >
              <!-- Finished -->
              <div
                v-if="item.status === 'ready'"
                class="md-group"
                style="text-align:center;"
              >
                <button
                  type="button"
                  class="md-button md-round md-teal"
                  @click="openReport(item.id_analysis, $route.name)"
                >
                  <div class="md-ripple">
                    <div class="md-button-content md-sm">
                      <md-icon>assignment</md-icon
                      >{{ $S_i18n.t("APP_S_INFO_ACTIONS_VIEW_REPORT") }}
                    </div>
                  </div>
                </button>
              </div>

              <!-- Pause and In progress -->
              <div
                v-if="item.status === 'queue' || item.status === 'working'"
                class="md-layout-item md-size-100 md-small-size-100"
              >
                <p class="text-danger" v-if="item.status === 'queue'">
                  {{ $S_i18n.t("APP_S_INFO_TABLE_STATES_QUEUED") }}
                </p>
                <p class="text-warning" v-if="item.status === 'working'">
                  {{ $S_i18n.t("APP_S_INFO_TABLE_STATES_ANALYZING") }}
                </p>
                <beat-loader
                  class="custom-class"
                  :color="
                    getValue(
                      {
                        queue: '#FA5D3C',
                        working: '#FFBF46'
                      },
                      item.status,
                      ''
                    )
                  "
                  :loading="true"
                  :size="8"
                  :margin="'2px'"
                ></beat-loader>
              </div>

              <!-- Empty -->
              <div
                v-if="item.status === ''"
                class="md-group"
                style="text-align:center;"
              >
                <button
                  type="button"
                  class="md-button md-round md-warning"
                  disabled
                >
                  <div class="md-ripple">
                    <div class="md-button-content md-sm">
                      <md-icon>search</md-icon
                      >{{ $S_i18n.t("APP_S_INFO_TABLE_STATES_ANALYZE") }}
                    </div>
                  </div>
                </button>
              </div>
            </md-table-cell>
            <!-- leakages -->
            <md-table-cell
              v-if="leakages"
              class="metadata_count"
              v-bind:md-label="
                $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_NUM_OF_APPEARANCES')
              "
              md-sort-by="metadata_count"
              >{{ item.metadata_count }}</md-table-cell
            >

            <md-table-cell
              v-if="leakages"
              v-bind:md-label="
                $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_DATA')
              "
              class="metadata"
              md-sort-by="metadata"
            >
              <md-icon
                class="text-danger"
                v-if="dniValidator(item.metadata)"
                id="icon"
                >new_releases</md-icon
              >
              {{ item.metadata }}
            </md-table-cell>

            <md-table-cell
              v-if="leakages"
              v-bind:md-label="
                $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_BAN')
              "
              md-sort-by="severity"
              class="severity"
            >
              <md-button
                class="md-danger md-simple"
                @click.native="handleDiscard(item, item.metadata, 'leakages')"
              >
                <md-tooltip md-direction="bottom">{{
                  $S_i18n.t("APP_S_INFO_TABLE_REPORT_LEAKAGES_BAN_TEXT")
                }}</md-tooltip>
                <md-icon
                  class="text-danger"
                  style="margin-right:50px;margin-top:-15px;"
                  >visibility_off</md-icon
                >
              </md-button>
            </md-table-cell>

            <md-table-cell
              v-if="leakages"
              v-bind:md-label="
                $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_DIRECT_SEARCH')
              "
            >
              <md-table-cell
                v-if="leakages"
                v-bind:md-label="
                  $S_i18n.t('APP_S_INFO_TABLE_REPORT_LEAKAGES_DIRECT_SEARCH')
                "
                id="social-cell"
              >
                <div>
                  <md-button
                    class="md-simple md-just-icon md-google "
                    target="_blank"
                    v-bind:href="
                      `https://www.google.com/search?q=${item.metadata}`
                    "
                  >
                    <em class="fab fa-google"></em>
                  </md-button>
                </div>
              </md-table-cell>
              <md-table-cell v-if="leakages" id="social-cell">
                <div>
                  <md-button
                    class="md-simple md-just-icon md-linkedin "
                    target="_blank"
                    v-bind:href="
                      `https://www.linkedin.com/search/results/all/?keywords=${item.metadata}`
                    "
                  >
                    <em class="fab fa-linkedin-in"></em>
                  </md-button>
                </div>
              </md-table-cell>
              <md-table-cell v-if="leakages" id="social-cell">
                <div>
                  <md-button
                    class="md-simple md-just-icon md-facebook"
                    target="_blank"
                    v-bind:href="
                      `https://www.facebook.com/search/top?q=${item.metadata}`
                    "
                  >
                    <em class="fab fa-facebook"></em>
                  </md-button>
                </div>
              </md-table-cell>
              <md-table-cell v-if="leakages" id="social-cell">
                <div>
                  <md-button
                    class="md-simple md-just-icon md-twitter"
                    target="_blank"
                    v-bind:href="
                      `https://twitter.com/search?q=${item.metadata}`
                    "
                  >
                    <em class="fab fa-twitter"></em>
                  </md-button>
                </div>
              </md-table-cell>
            </md-table-cell>

            <md-table-cell
              v-if="documentsTable"
              style="size:50px;"
              v-bind:md-label="$S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_FACT')"
              md-sort-by="metadata"
              class="metadata-documentsTable"
              ><md-icon
                class="text-danger"
                v-if="dniValidator(item.metadata)"
                id="iconfirst"
                >new_releases</md-icon
              >{{ item.metadata }}</md-table-cell
            >
            <md-table-cell
              v-if="documentsTable"
              v-bind:md-label="
                $S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_DOCUMENT')
              "
              md-sort-by="document"
              class="document"
            >
              <a
                v-bind:href="`https://${item.url}`"
                target="_blank"
                rel="noopener noreferrer"
                >{{ item.document }}</a
              >
            </md-table-cell>

            <md-table-cell
              v-if="documentsTable"
              v-bind:href="item.domain"
              v-bind:md-label="$S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_DOMAIN')"
              md-sort-by="domain"
              class="domain-documentsTable"
            >
              <a
                v-bind:href="`https://${item.domain}`"
                target="_blank"
                rel="noopener noreferrer"
                >{{ item.domain }}</a
              >
            </md-table-cell>
            <md-table-cell
              v-if="documentsTable"
              v-bind:md-label="
                $S_i18n.t('APP_S_DOCUMENTS_TABLE_COLUMN_FILE_TYPE')
              "
              md-sort-by="filetype"
              class="filetype"
              >{{ item.filetype }}</md-table-cell
            >
            <md-table-cell
              v-if="domainsTable"
              v-bind:md-label="$S_i18n.t('APP_S_DOMAINS_TABLE_COLUMN_FACT')"
              md-sort-by="value"
              style="overflow-wrap: break-word;"
              ><md-icon
                class="text-danger"
                v-if="dniValidator(item.value)"
                id="iconfirst"
                >new_releases</md-icon
              >{{ item.value }}</md-table-cell
            >
            <md-table-cell
              v-if="domainsTable"
              v-bind:md-label="$S_i18n.t('APP_S_DOMAINS_TABLE_COLUMN_DOMAIN')"
              v-bind:href="item.domain"
              md-sort-by="domain"
              style="overflow-wrap: break-word;"
              >{{ item.domain }}</md-table-cell
            >
            <md-table-cell
              v-if="domainsTable"
              v-bind:md-label="$S_i18n.t('APP_S_DOMAINS_TABLE_COLUMN_RISKS')"
              md-sort-by="metaseverity_name"
              >{{ setLeakages(item.metaseverity_name) }}</md-table-cell
            >
            <md-table-cell
              v-if="rawTable"
              v-bind:md-label="
                $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_SEVERITY')
              "
              md-sort-by="metaseverity_name"
              >{{ setLeakages(item.metaseverity_name) }}</md-table-cell
            >

            <md-table-cell v-if="rawTable" md-label="Dato" md-sort-by="value"
              ><md-icon
                class="text-danger"
                v-if="dniValidator(item.value)"
                id="icon"
                >new_releases</md-icon
              >
              {{ item.value }}</md-table-cell
            >

            <md-table-cell
              v-if="rawTable"
              v-bind:md-label="
                $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_DOMAIN')
              "
              md-sort-by="domain"
            >
              <a v-bind:href="item.domain" style="overflow-wrap: break-word;">{{
                item.domain
              }}</a>
            </md-table-cell>
            <md-table-cell
              v-if="rawTable"
              v-bind:md-label="
                $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_ENLACE')
              "
              md-sort-by="url"
              style="min-width;overflow-wrap: break-word;"
            >
              <a
                v-bind:href="`https://` + item.url"
                style="overflow-wrap: break-word;"
                >{{ item.url }}</a
              >
            </md-table-cell>
            <md-table-cell
              v-if="rawTable"
              v-bind:md-label="
                $S_i18n.t('APP_REPORT_S_RAW_TABLE_COLUMN_FILE_TYPE')
              "
              md-sort-by="filetype"
              >{{ item.filetype }}</md-table-cell
            >
          </md-table-row>
        </md-table>
      </md-card-content>
      <md-card-actions md-alignment="space-between">
        <div class>
          <p class="card-category">
            {{ this.$S_i18n.t("BF_TABLE_PAGINATION_SHOWING_LABEL") }}
            {{ from + 1 }}
            {{ this.$S_i18n.t("BF_TABLE_PAGINATION_TO_LABEL") }} {{ to }}
            {{ this.$S_i18n.t("BF_TABLE_PAGINATION_OF_LABEL") }} {{ total }}
            {{ this.$S_i18n.t("BF_TABLE_PAGINATION_ENTRIES_LABEL") }}
          </p>
        </div>
        <pagination
          class="pagination-no-border pagination-info"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></pagination>
      </md-card-actions>
    </div>
  </div>
</template>
<script>
import md5 from "md5";
import Pagination from "../Pagination.vue";
import Loading from "vue-loading-overlay";
import Fuse from "fuse.js";
import Swal from "sweetalert2";
import { BeatLoader } from "@saeris/vue-spinners";
export default {
  name: "s-info-table",
  components: {
    pagination: Pagination,
    Loading,
    BeatLoader
  },
  props: {
    plain: Boolean,
    color: String,
    name: String,
    title: String,
    disabled: Boolean,
    url: String,
    hrefDownloadButton: String,
    filterTitle: String,
    icon: String,
    leakages: Boolean,
    dashboardTable: Boolean,
    documentsTable: Boolean,
    domainsTable: Boolean,
    rawTable: Boolean,
    postData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    states: {
      type: Object,
      default: () => {
        return {};
      }
    },

    labels: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  mounted() {
    if (this.dashboardTable) {
      this.$APP_Services.VDTable().then(response => {
        this.s_table = response.data.payload.table || response.data.payload;
        this.s_table_data =
          response.data.payload.table || response.data.payload;
        this.isLoading = false;
        this.ctrl_data_ready = true;
      });
    } else if (this.leakages) {
      this.$APP_Services.VRLeakages_Table().then(response => {
        this.s_table = response.data.payload.table || response.data.payload;
        this.s_table_data =
          response.data.payload.table || response.data.payload;
        this.isLoading = false;

        this.ctrl_data_ready = true;
      });
    } else if (this.documentsTable) {
      this.$APP_Services.VRDocuments_Table().then(response => {
        this.s_table = response.data.payload.table || response.data.payload;
        this.s_table_data =
          response.data.payload.table || response.data.payload;
        this.isLoading = false;

        this.ctrl_data_ready = true;
      });
    } else if (this.domainsTable) {
      this.$APP_Services.VRDomains_Table().then(response => {
        this.s_table = response.data.payload.table || response.data.payload;
        this.s_table_data =
          response.data.payload.table || response.data.payload;
        this.isLoading = false;

        this.ctrl_data_ready = true;
      });
    }

    // this.isLoading = false;
    /**
    let postData = new URLSearchParams();
    postData.append("token", `${this.$route.query.token}`);

    if (this.$route.params.idReport) {
      postData.append("id_analysis", `${this.$route.params.idReport}`);
    }
    this.$axios.post(this.url, postData).then(
      response => {
        this.initGraph(response);
        this.sentEvent();
      },
      error => {}
    );
     */
  },
  data() {
    return {
      isDeleting: false,
      onlyDnis: null,
      isLoading: true,
      fullPage: false,
      s_table: [],
      s_table_data: [],
      amount2: 0,
      s_table_searched_data: [],
      s_table_filter_data: [],
      searchQuery: "",
      currentSortOrder: "desc",
      currentSort: "name_comercial",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      buffer: 40,
      tableData: {},
      searchedData: [],
      fuseSearch: null,
      isReady: false,
      propsToSearch: ["domain", "date_end", "name"],
      contact_email: process.env.VUE_APP_BF_CONTACT_MAIL
    };
  },
  computed: {
    queriedData() {
      if (!this.s_table) {
        return [];
      }
      let dataSet;
      if (this.s_table_searched_data.length > 0) {
        dataSet = this.s_table_searched_data;
      } else {
        dataSet = this.s_table;
      }

      for (let i = 0; i < this.states.filterOptions.length; i++) {
        if (this.states.filterOptions[i] === this.states.filter) {
          let result = new Fuse(dataSet, {
            keys: this.states.keys
          });

          if (this.states.searchable[i] === "#") {
            return result._docs.slice(this.from, this.to);
          } else {
            result = result.search(this.states.searchable[i]);
            for (let j = 0; j < result.length; j++) {
              result[j] = result[j].item;
            }
            return result.slice(this.from, this.to);
          }
        }
      }

      return [];
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.s_table_searched_data.length > 0
        ? this.s_table_searched_data.length
        : this.s_table_data.length;
    }
  },
  methods: {
    showSwal(type) {
      Swal.fire({
        title: this.$S_i18n.t("APP_RGPD_POPUP_TITLE"),
        text: this.$S_i18n.t("APP_RGPD_POPUP_TEXT") + this.contact_email,

        buttonsStyling: false,
        confirmButtonClass: "md-button md-success"
      });
    },
    popupMetacleaner(domain) {
      Swal.fire({
        title: `${this.$S_i18n.t(
          "APP_S_INFO_ACTIONS_CLEANING_TITLE_MODAL"
        )} ${domain}?`,
        text: `${this.$S_i18n.t("APP_S_INFO_ACTIONS_CLEANING_TEXT_MODAL")}`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: `${this.$S_i18n.t(
          "APP_S_INFO_ACTIONS_CLEANING_TITLE_YES"
        )}`,
        showCloseButton: true,
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          this.requestClean();
        }
      });
    },
    requestClean() {
      let postData = new URLSearchParams();
      postData.append("token", `${this.$route.query.token}`);
      postData.append("id_analysis", `${this.$route.params.idReport}`);
      this.$axios
        .post(process.env.VUE_APP_ACTIONS_MCRequestClean, postData)
        .then(response => {
          Swal.fire(
            "Se ha enviado la petición de limpieza con éxito",
            "success"
          ).then(result => {
            window.location.reload();
          });
        });
    },
    getTime(date_end) {
      const today = new Date();
      const Mdate = date_end;
      return new Date(Mdate) > today;
    },
    getValue(obj, el, def = 0) {
      const object = obj;
      return object[el] || def;
    },
    handleDiscard(item, data, table) {
      Swal.fire({
        title: `${this.$S_i18n.t(
          "APP_REPORT_S_LEAKAGES_TABLE_BAN_DISCARD_TITLE"
        )} ${data}?`,
        text: `${this.$S_i18n.t(
          "APP_REPORT_S_LEAKAGES_TABLE_BAN_DISCARD_ALERT"
        )}`,
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "md-button md-success btn-fill",
        cancelButtonClass: "md-button md-danger btn-fill",
        confirmButtonText: `${this.$S_i18n.t(
          "APP_REPORT_S_LEAKAGES_TABLE_BAN_DISCARD_YES"
        )}`,
        cancelButtonText: `${this.$S_i18n.t(
          "APP_REPORT_S_LEAKAGES_TABLE_BAN_DISCARD_NO"
        )}`,
        buttonsStyling: false
      }).then(result => {
        if (result.value) {
          this.showLoading();
          this.requestBanByValue(item, data);
        }
      });
    },

    requestBanByValue(item, data) {
      let postData = new URLSearchParams();
      postData.append("value", `${data}`);
      postData.append("token", `${this.$route.query.token}`);
      postData.append("id_analysis", `${this.$route.params.idReport}`);
      this.$axios
        .post(process.env.VUE_APP_ACTIONS_AMetavalueBanByValue, postData)
        .then(
          response => {
            this.deleteRow(data, "leakages");
            this.deleteRow(data, "documentsTable");
            this.deleteRow(data, "domainsTable");
            this.s_table_searched_data = this.s_table;
            this.searchQuery = "";

            Swal.fire({
              title: `${this.$S_i18n.t(
                "APP_REPORT_S_LEAKAGES_TABLE_BAN_DISCARD_FINISHED"
              )}`,
              text: `${this.$S_i18n.t(
                "APP_REPORT_S_LEAKAGES_TABLE_BAN_DISCARD_ELIMINATED"
              )} ${response.data.payload.values_changed} ${this.$S_i18n.t(
                "APP_REPORT_S_LEAKAGES_TABLE_BAN_LEAKS_WITH_DATA"
              )} ${data}`,
              type: "success",
              confirmButtonClass: "md-button md-success btn-fill",
              buttonsStyling: false
            });
          },
          error => {
            Swal.fire({
              title: `${this.$S_i18n.t(
                "APP_REPORT_S_LEAKAGES_TABLE_BAN_SOMETHING_WENT_WRONG"
              )}`,
              text: `${this.$S_i18n.t(
                "APP_REPORT_S_LEAKAGES_TABLE_BAN_TRY_LATER"
              )}`,
              type: "error",
              confirmButtonClass: "md-button md-success btn-fill",
              buttonsStyling: false
            });
          }
        );
    },

    deleteRow(val, table) {
      if (table === "domainsTable") {
        for (let i = 0; i < this.s_table.length; i++) {
          if (this.s_table[i].value === val || this.s_table[i].metadata === val)
            this.s_table.splice(i, 1);
        }
      }
    },

    setLeakages(leakages) {
      return leakages === "Filtracion"
        ? this.$S_i18n.t("APP_GRAPH_CLOUDS_LEGEND_LEAKAGES")
        : leakages === "Sensible"
        ? this.$S_i18n.t("APP_GRAPH_CLOUDS_LEGEND_SENSIBLE")
        : leakages;
    },

    openReport(item) {
      localStorage.setItem("op_id_analysis", item.id_analysis);
      const long_token = md5(item.id_domain) + md5(item.date_requested);
      localStorage.setItem(
        "op_long_token",
        md5(item.id_domain) + md5(item.date_requested)
      );
      this.$router.push("/report");
    },

    dniValidator(value) {
      var dni = require("dni-js-validator");
      return dni.isValid(value);
    },
    customSort(value) {
      return value.sort((a, b) => {
        const sortBy = this.currentSort;
        if (b[sortBy]) {
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
        }
      });
    },
    sentEvent() {
      this.$emit(`rendering-finished-${this.name}`, this.name);
    },
    initGraph(response) {
      const dni = require("dni-js-validator");
      this.s_table = response.data.payload.table || response.data.payload;
      this.s_table_data = response.data.payload.table || response.data.payload;

      for (let i = 0; i < this.s_table.length; i++) {
        if (dni.isValid(this.s_table[i].metadata))
          this.s_table[i]["dni"] = "true";
        else this.s_table[i]["dni"] = "false";
      }
    },
    showLoading() {
      Swal.fire({
        title: `${this.$S_i18n.t(
          "APP_REPORT_S_LEAKAGES_TABLE_BAN_DISCARD_ERRASING"
        )}`,
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: () => {
          Swal.showLoading();
        }
      });
    }
  },

  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */

    searchQuery(value) {
      const fuseSearch = new Fuse(this.s_table, {
        keys: [
          "domain",
          "name_comercial",
          "date_requested",
          "metadata",
          "url",
          "document",
          "value"
        ],
        threshold: 0.2
        // minMatchCharLength: value.length
      });

      if (value !== "") {
        this.s_table_searched_data = fuseSearch.search(this.searchQuery);
        for (let j = 0; j < this.s_table_searched_data.length; j++) {
          this.s_table_searched_data[j] = this.s_table_searched_data[j].item;
        }
        this.s_table_searched_data = this.s_table_searched_data;

        for (let j = 0; j < this.s_table_filter_data.length; j++) {
          this.s_table_filter_data[j] = this.s_table_filter_data[j].item;
        }
      } else this.s_table_searched_data = this.s_table;
      return this.s_table_searched_data.slice(this.from, this.to);
    }
  }
};
</script>
<style lang="scss">
.white {
  color: white;
}
.info-table {
  min-width: 400px;
}

.img-box-cell {
  width: 80px;
  .img-box {
    max-width: 70px;
    max-height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    .img {
      max-width: 70px;
      max-height: 70px;
    }
  }
}

.date_requested {
  max-width: 50px;
}
.domain {
  min-width: 400px;
  a {
    overflow-wrap: break-word;
  }
}
.metadata_count {
  max-width: 30px;
}

.metadata {
  min-width: 270px;
  overflow-wrap: break-word;
}

.severity {
  max-width: 70px;
}

.metadata-documentsTable {
  min-width: 200px;
  width: 400px;
  overflow-wrap: break-word;
}
.document {
  min-width: 300px;
  overflow-wrap: break-word;
  a {
    overflow-wrap: break-word;
  }
}

.domain-documentsTable {
  min-width: 200px;
  a {
    overflow-wrap: break-word;
  }
}

.filetype {
  max-width: 20px;
}
#icon {
  margin-top: -3px;
  margin-right: 5px;
  margin-left: -35px;
}
#iconfirst {
  margin-top: -3px;
  margin-right: 5px;
}

table {
  width: 100%;
  //table-layout: fixed;

  th {
    text-align: left;
  }
}
.md-tab-chart {
  background-color: transparent;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
}
.plaincard {
  background-color: transparent !important;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%) !important;
}
.social-button {
  margin-right: 10px;
}

#social-cell {
  border-top: 0px solid;
  margin-bottom: 5px;
  margin-top: -5px;
}
</style>
