<template>
  <div class="product-card-table-container">
    <md-toolbar md-elevation="0" class="md-transparent" v-if="!this.loading">
      <md-field class="md-field-pc">
        <label for="pages">{{ $t("stateFilter") }}</label>
        <md-select v-model="states.filter" name="statesSelector">
          <md-option
            v-for="item in states.filterOptions"
            :key="item"
            :label="item"
            :value="item"
            >{{ item }}</md-option
          >
        </md-select>
      </md-field>
      <md-field class="md-field-pc">
        <md-input
          type="search"
          class="mb-3 md-input-pc"
          clearable
          v-bind:placeholder="$t('search')"
          name="search2"
          v-model="searchQuery"
        ></md-input>
      </md-field>
    </md-toolbar>

    <!-- PRINT PRODUCT CARDS -->
    <div class="md-layout" v-if="!this.loading">
      <div
        class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-20"
        v-for="myElement in this.cardData"
        :key="myElement.id"
      >
        <product-card
          v-if="myElement.name_comercial"
          header-animation="true"
          v-bind:name="myElement.name_comercial"
          v-bind:domain="myElement.domain"
          v-bind:date="myElement.date_requested"
          v-bind:analysisState="myElement.status"
          v-bind:id_analysis="myElement.id_analysis"
          v-bind:keywords="keywords"
          v-bind:verics="profile_user.verics"
          v-bind:metacleaner="profile_user.metacleaner"
          v-bind:mcStatus="myElement.mcStatus"
          v-bind:wordics="profile_user.wordics"
          v-bind:showScreenshots="true"
        >
        </product-card>
      </div>
    </div>

    <md-card-actions md-alignment="space-between" v-if="!this.loading">
      <div class>
        <p class="card-category">
          {{
            `${$t("showing")} ${from + 1} - ${to} ${$t("of")} ${total} ${$t(
              "entry"
            )}`
          }}
        </p>
      </div>
      <pagination
        class="pagination-no-border pagination-info"
        v-model="pagination.currentPage"
        :per-page="pagination.perPage"
        :total="total"
      ></pagination>
    </md-card-actions>

    <!-- LOADING BUFFER WHILE CHARGING THE CARDS -->
    <div
      class="md-layout-item md-size-100 md-small-size-100 loading-pc"
      v-if="this.loading"
    >
      <pacman-loader
        class="custom-class"
        :color="'#2499f5'"
        :loading="true"
        :size="28"
        :margin="'5px'"
      ></pacman-loader>
      <h6 class="text-info">{{ $t("loadingCompanies") }}</h6>
    </div>
  </div>
</template>
<script>
import Pagination from "../Pagination.vue";
import { PacmanLoader } from "@saeris/vue-spinners";
import { ProductCard } from "@/components";
import Fuse from "fuse.js";

export default {
  name: "s-info-product-card-table",
  components: {
    pagination: Pagination,
    ProductCard,
    PacmanLoader
  },
  props: {
    url: String,
    postData: {
      type: Array,
      default: () => {
        return [];
      }
    },
    states: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  beforeMount() {
    this.loading = true;
  },
  mounted() {
    let postData = new URLSearchParams();
    postData.append("token", `${this.$route.query.token}`);

    if (this.$route.params.idReport) {
      postData.append("id_analysis", `${this.$route.params.idReport}`);
    }
    this.$axios.post(this.url, postData).then(
      response => {
        this.initGraph(response);
        this.$emit(`response-card-table`, response);
      },
      error => {}
    );
  },
  data() {
    return {
      loading: false,
      keywords: "cumple",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      s_table: [],
      s_table_data: [],
      s_table_searched_data: [],
      searchQuery: "",
      profile_user: {
        name: null,
        id: 1,
        rol: null,
        selector: true,
        verics: true,
        wordics: true,
        language: null,
        metacleaner: true,
        imageCard: ""
      }
    };
  },
  computed: {
    cardData() {
      if (!this.s_table) {
        return [];
      }
      let dataSet;
      if (this.s_table_searched_data.length > 0) {
        dataSet = this.s_table_searched_data;
      } else {
        dataSet = this.s_table;
      }
      for (let i = 0; i < this.states.filterOptions.length; i++) {
        if (this.states.filterOptions[i] === this.states.filter) {
          const result = new Fuse(dataSet, {
            keys: this.states.keys
          });
          return this.states.searchable[i] === "#"
            ? result.list.slice(this.from, this.to)
            : result.search(this.states.searchable[i], {
                limit: this.pagination.perPage
              });
        }
      }

      return [];
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.s_table_searched_data.length > 0
        ? this.s_table_searched_data.length
        : this.s_table_data.length;
    }
  },
  watch: {
    searchQuery(value) {
      const fuseSearch = new Fuse(this.s_table, {
        keys: this.states.searchKey
      });
      if (value !== "") {
        this.s_table_searched_data = fuseSearch.search(this.searchQuery, {
          limit: this.pagination.perPage
        });
      } else this.s_table_searched_data = this.s_table;
      return this.s_table_searched_data;
    }
  },
  methods: {
    initGraph(response) {
      this.s_table = response.data.payload.table;
      this.s_table_data = response.data.payload.table;

      this.fuseSearch = new Fuse(this.s_table_data, {
        keys: ["name_comercial", "domain", "status"],
        threshold: 0.3
      });
      this.loading = false;
    }
  }
};
</script>
<style lang="scss">
.product-card-table-container {
  .md-transparent {
    margin-top: -40px;
    margin-bottom: 30px;
    .md-field-pc {
      width: 200px;
      text-align: right;
      .md-input-pc {
        width: 200px;
        margin-left: 20px;
      }
    }
  }
  .loading-pc {
    margin-left: 100px;
    margin-right: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .custom-class {
      height: 58px;
      margin: 50px 55px 0px 0px;
    }
  }
}
</style>
