<template>
  <div>
    <md-table v-model="locations" class="s-locactions-table">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell> {{ item.country }}</md-table-cell>
        <md-table-cell>{{ item.percent }}</md-table-cell>
        <md-table-cell v-if="item.facturable">
          <md-icon class="text-primary" style="margin-top:-11px;"
            >attach_money</md-icon
          ></md-table-cell
        >
        <md-table-cell v-else>
          <md-icon class="text-gray" style="margin-top:-11px;"
            >money_off</md-icon
          ></md-table-cell
        >
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: "s-locations-table",
  data() {
    return {
      selected: [],
      locations: [
        {
          icon: "place",
          country: "Albacete",
          facturable: true,
          percent: "53.23%"
        },
        {
          icon: "place",
          country: "Cuenca",
          facturable: true,
          percent: "20.43%"
        },
        {
          icon: "place",
          country: "Madrid",
          facturable: false,
          percent: "10.35%"
        },
        {
          icon: "place",
          country: "Valladolid",
          facturable: true,
          percent: "7.87%"
        },
        {
          icon: "place",
          country: "Barcelona",
          facturable: false,
          percent: "5.94%"
        }
      ]
    };
  }
};
</script>
