<template>
  <div class="md-layout reportContainer">
    <loading
      :active.sync="isLoading"
      :can-cancel="true"
      :is-full-page="fullPage"
    ></loading>

    <!-- Leakages-->
    <div
      class="leakages_container title_container_tooltip md-layout-item md-size-100 md-small-size-100"
      v-if="
        this.showComponent('leakages', 'equal') ||
          this.showComponent('leakages', 'cheddar') ||
          this.showComponent('leakages', 'table')
      "
    >
      <h3 class="title">
        {{ this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TITLE") }}
      </h3>
    </div>

    <div
      class="md-layout-item md-size-100 md-small-size-100 box-empty"
      v-if="this.summaryData.total_leakages === 0"
    >
      <img :src="empty" class="empty" alt="" />
      <h2 class="title" style="font-size:22px;">
        No se han encontrado Filtraciones
      </h2>
    </div>

    <s-graph-equalizer
      :class="
        this.countComponentInOtherSections(
          this.showComponent('leakages', 'cheddar'),
          this.showComponent('leakages', 'equal')
        )
      "
      class="md-layout-item md-small-size-100"
      v-if="
        this.summaryData.total_leakages != 0 &&
          this.showComponent('leakages', 'equal')
      "
      v-bind:url="urlLeakagesEqualizer"
      v-bind:post-data="postData"
      v-bind:color="'danger'"
      v-bind:icon="'warning'"
      v-bind:fileNameLegend="this.showComponent('leakages', 'equal_legend')"
      v-bind:title="$S_i18n.t('APP_REPORT_S_LEAKAGES_TITLE')"
      v-bind:name="'leakages'"
      @rendering-finished-leakages="changeStatus"
    ></s-graph-equalizer>

    <s-graph-cheddar
      :class="
        this.countComponentInOtherSections(
          this.showComponent('leakages', 'cheddar'),
          this.showComponent('leakages', 'equal')
        )
      "
      class="md-layout-item md-small-size-100"
      v-if="this.showComponent('leakages', 'cheddar')"
      v-bind:url="urlLeakagesCheddar"
      v-bind:post-data="postData"
      v-bind:legend="true"
      v-bind:footer="false"
      v-bind:header="false"
      v-bind:color="'danger'"
      v-bind:fileNameLegend="this.showComponent('leakages', 'cheddar_legend')"
      v-bind:name="'leakages'"
      @rendering-finished-leakages="changeStatus"
    ></s-graph-cheddar>

    <s-info-table
      class="md-size-100"
      v-if="this.showComponent('leakages', 'table')"
      v-bind:url="urlInfoLeakagesTable"
      v-bind:post-data="postData"
      v-bind:states="statesLeakagesTable"
      v-bind:leakages="true"
      v-bind:icon="'assignment'"
      v-bind:filterTitle="$S_i18n.t('APP_REPORT_S_LEAKAGES_TABLE_FILTER_TITLE')"
      v-bind:name="'leakages'"
      @rendering-finished-leakages="changeStatus"
      v-bind:color="'danger'"
    ></s-info-table>
  </div>
</template>
<script src="//gionkunz.github.io/chartist-js/scripts/all.js"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
import { Tabs } from "@/components";
import AsyncWorldMap from "@/components/WorldMap/AsyncWorldMap.vue";
import Loading from "vue-loading-overlay";
import Legend from "chartist-plugin-legend";
import Tooltip from "chartist-plugin-tooltip";
import * as ChartistTooltips from "chartist-plugin-tooltips";
import Fuse from "fuse.js";
import Swal from "sweetalert2";
import Chartist from "chartist";
import SGraphEqualizer from "@/components/Graphs/SGraphEqualizer.vue";
//import SInfoLoading from '@/components/Images/SInfoLoading.vue'
import SInfoTable from "@/components/Tables/SInfoTable.vue";
import SGraphCheddar from "@/components/Graphs/SGraphCheddar.vue";
import SGraphClouds from "@/components/Graphs/SGraphClouds.vue";
import SGraphEqualizerMultiple from "@/components/Graphs/SGraphEqualizerMultiple.vue";
import SGraphMap from "@/components/Graphs/SGraphMap.vue";
//import Language from '@/components/Language/Language'
import { SyncLoader } from "@saeris/vue-spinners";
//import { i18n } from '@/i18n/i18n'
import { clipboard } from "vue-clipboards";
const options = {
  threshold: 0.3
};
import {
  StatsCard,
  ChartCard,
  AnimatedNumber,
  GlobalSalesCard,
  Pagination,
  DashboardCard
} from "@/components";

export default {
  directives: { clipboard },
  components: {
    Tabs,
    StatsCard,
    DashboardCard,
    ChartCard,
    AnimatedNumber,
    GlobalSalesCard,
    AsyncWorldMap,
    Pagination,
    SGraphEqualizer,
    SInfoTable,
    SGraphCheddar,
    SGraphClouds,
    SGraphEqualizerMultiple,
    SGraphMap,
    Loading
    // STooltipButton,
    // Language,
    // SInfoLoading
  },
  data() {
    return {
      visible_components: [
        {
          name: "summary",
          obj: {
            company_name: true,
            total_leakages: true,
            total_domain: true,
            total_documents: true,
            metacleaner: true
          }
        },
        {
          name: "leakages",
          obj: {
            equal: true,
            equal_legend: true,
            cheddar: true,
            cheddar_legend: true,
            table: true
          }
        },
        {
          name: "documents",
          obj: {
            equal: true,
            cloud: true,
            table: true
          }
        },
        {
          name: "domain",
          obj: {
            equal: true,
            map: true,
            table: true
          }
        },
        {
          name: "raw",
          obj: {
            table: true
          }
        },
        {
          name: "page",
          obj: {
            side_menu: false,
            footer: false,
            share_page: true,
            tooltip: true
          }
        }
      ],
      downloadFileLink: "",
      cleanButtonDisabled: true,
      isExpiredLink: false,
      isNotOrderMC: false,
      isOnGoingMC: false,
      isDoneMC: false,
      isTooManyFilesMC: false,
      isQueuedMC: false,
      metacleanerRequestClean: [],
      metacleanerStatus: "",
      page: 1,
      pageSize: 30,
      postData: {},
      load_components_data: [
        { page: 1, visible: true, disable: false },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true }
      ],
      statusComponents: [
        { name: "leakages", status: false },
        {
          name: "documents-report",
          status: false
        },
        {
          name: "eq-report",
          status: false
        },
        { name: "domains", status: false },
        { name: "raw", status: false }
      ],

      isShowDocument: false,
      isShowDomain: false,
      empty: "./img/empty.svg",
      isLoading: false,
      fullPage: true,

      statesLeakagesTable: {
        filter: this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
        filterOptions: [
          this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
          "Sensible",
          "Filtracion"
        ],
        searchable: ["#", "Sensible", "Filtracion"],
        keys: ["severity"],
        searchKey: ["metadata", "severity"]
      },
      statesDocumentationTable: {
        filter: this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
        filterOptions: [
          this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
          "PDF",
          "JPG"
        ],
        searchable: ["#", "PDF", "JPG"],
        keys: ["filetype"],
        searchKey: ["metadata", "domain", "filetype", "document"]
      },
      statesDomainsTable: {
        filter: this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
        filterOptions: [
          this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
          "Sensible",
          "Filtracion"
        ],
        searchable: ["#", "Sensible", "Filtracion"],
        keys: ["metaseverity_name"],
        searchKey: ["domain", "metaseverity_name", "value"]
      },
      statesRawTable: {
        filter: this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
        filterOptions: [
          this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TABLE_FILTER_OPTION_ALL"),
          "PDF",
          "JPG"
        ],
        searchable: ["#", "PDF", "JPG"],
        keys: ["filetype"],
        searchKey: ["metaseverity_name", "value", "domain", "filetype"]
      },
      page: 1,
      pageSize: 30,
      summaryData: {},
      tabs_names: [
        this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TITLE"),
        this.$S_i18n.t("APP_REPORT_S_DOCUMENTS_TITLE"),
        this.$S_i18n.t("APP_REPORT_S_DOMAINS_TITLE")
      ],
      tabsname: [],
      selected: [],
      responsive: false
    };
  },
  methods: {
    copyClipboard(isHide) {
      return !isHide
        ? `https://suite.suments.com/#${this.$route.fullPath}&path=BKSFLk5A7AFk79AkSQ6kRkAALS`
        : `https://suite.suments.com/#${this.$route.fullPath}`;
    },
    countComponentInOtherSections(elem1, elem2) {
      return elem1 && elem2 ? "md-size-50" : "md-size-100";
    },
    countComponentsSummary() {
      const sumObj = this.visible_components.find(el => el.name === "summary")[
        "obj"
      ];
      let count = 0;

      for (var [key, value] of Object.entries(sumObj)) {
        value ? count++ : "";
      }
      return this.getstylelabelsGrid(count);
    },
    getstylelabelsGrid(num) {
      const obj = {
        1: "md-size-100",
        2: "md-size-50",
        3: "md-size-33",
        4: "md-size-25",
        5: "md-size-20"
      };
      return obj[num];
    },
    validator(value) {
      const reg = /^([A-Z0-9_]{5})[k]([A-Z0-9_]{5})[k]([A-Z0-9_]{3})[k]([A-Z0-9_]{3})[k]([A-Z0-9_]{1})[k]([A-Z0-9_]{4})/;
      return reg.test(value);
    },
    checkValidations(value, path) {
      return this.validator(value);
    },
    sentEventToDashboardLayout() {
      this.$emit(`show-footer-menu`, {
        footer: this.showComponent("page", "footer"),
        side_menu: this.showComponent("page", "side_menu")
      });
    },
    getValue(obj, el, def = 0) {
      const object = obj;
      return object[el] || def;
    },
    popupMetacleaner() {
      Swal.fire({
        title: `${this.$t("mcCleanTitleModal")} ${
          this.summaryData.company_domain
        }?`,
        text: `${this.$t("mcCleanTextModal")}`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: `${this.$t("mcCleanYes")}`,
        showCloseButton: true,
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          this.requestClean();
        }
      });
    },
    showComponent(comp, elem) {
      return this.visible_components.find(el => el.name === comp)["obj"][elem];
    },
    getBoolean(el) {
      const alphabet = [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O",
        "P",
        "Q",
        "R",
        "S",
        "T",
        "U",
        "V",
        "W",
        "X",
        "Y",
        "Z"
      ];
      return !!alphabet.find(ele => ele === el)
        ? alphabet.findIndex(letter => letter === el) >= 1
        : el > 4;
    },
    setPath() {
      const splitPath = this.$route.query.path.split("k");
      return splitPath.map(
        (ar, arIndex) =>
          (ar = ar.split("").map(arr => (arr = this.getBoolean(arr))))
      );
    },

    getVisibleComponents(path) {
      this.visible_components.map((el, elIndex) => {
        return (el.obj = Object.fromEntries(
          Object.entries(el.obj).map(([key, value], i) => [
            key,
            (value = path[elIndex][i])
          ])
        ));
      });
    },
    changeStatus(e) {
      this.statusComponents.find(el => el.name === e).status = true;
    },
    isbeginsHttp(url) {
      const reg = /^https?:\/\//;
      return reg.test(url);
    },
    getCompanyUrl(url) {
      if (!this.isbeginsHttp(url) && url != undefined) {
        return `http://${url}`;
      }
      return url;
    },
    loadNextComponent(n, comp) {
      this.load_components_data[n].visible = true;
      if (this.statusComponents.find(el => el.name === comp).status) {
        this.load_components_data[n].disable = true;
        this.load_components_data[n + 1].disable = false;
      }
      return "";
    },
    openReport(name, token, sm, bf) {
      const path = `/dashboard/?name=${name}&token=${token}`;
      if (this.$route.path !== path) this.$router.push(path);
    }
  },
  created() {
    this.isLoading = true;
  },
  beforeCreate() {
    //i18n.locale = this.$route.query.lan;
  },
  mounted() {
    //load summary
  },
  watch: {
    fileDownload(filename, text) {
      var element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," + encodeURIComponent(text)
      );
      element.setAttribute("download", filename);
      element.style.display = "none";
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    }
  }
};
</script>
<style lang="scss" scoped>
.main-title {
  margin-top: 0;
}
.align-left {
  display: flex;
  flex-direction: column;
}
.company_name_header {
  height: 185px;
  margin-left: 15px;
  margin-right: 0px;
  margin-top: -50px;
  margin-bottom: 0px;
  max-width: 160px;
  height: 130px;
}
.reportContainer {
  .md-layout-item {
    .md-card {
      height: 78%;
      justify-content: space-between;
    }
  }
  .company_name_box {
    display: flex;
    .company_name {
      .company_name_header {
        // align-right;
        margin-left: 15px;
        margin-right: 0px;
        margin-top: -50px;
        margin-bottom: 0px;
        max-width: 160px;
        height: 130px;
      }
    }
  }
  .total_leakages_box {
    .total_leakages_card {
      height: 185px;
    }
  }
  .total_documents_box {
    .total_documents_card {
      height: 185px;
    }
  }
  .metacleaner_box {
    .metacleaner_card {
      height: 185px;
    }
  }
  .leakages_container {
    .title {
      font-size: 22px;
    }
  }
  .title_container_tooltip {
    .title {
      font-size: 22px;
    }
    display: flex;
    .tootltip-button {
      margin-top: -10px;
      margin-left: -5px;
    }
  }
}
.flex {
  display: flex;
  md-icon,
  p {
    margin: 0;
  }
}
.custom-class {
  margin: 14px 0;
}
.color-a {
  color: #007cff !important;
}
.button-style {
  margin: 21px 0 0 0;
  .ripple-style {
    width: 183px;
    height: 41px;
    .md-button-content {
      .md-icon {
        width: 44px;
        font-size: 20px !important;
      }
    }
  }
}
.loader {
  width: 100%;
}
.box-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .empty {
    width: 30%;
  }
  h2 {
    margin: 0;
  }
}

.long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-header {
  display: flex;
  justify-content: space-between;
  .title-report {
    font-size: 22px;
    margin-top: -40px;
  }
}
.card-subtitle {
  margin-top: -5px;
}
.card-button {
  margin-left: -5px;
}
.big-icon {
  font-size: 80px !important;
  padding: 50px;
}
.animated-number {
  padding: 50px;
}
</style>
