<template>
  <div :class="[`md-layout-item md-size-25`]" v-if="isShow">
    <div class="alert alert-success alert-with-icon" data-notify="container">
      <button type="button" aria-hidden="true" class="close" @click="close">
        ×
      </button>
      <i data-notify="icon" class="material-icons">add_alert</i>
      <span data-notify="message">{{ text }} </span>
      <span>{{ text2 }}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "s-info-notification",
  components: {},
  props: {
    isShow: Boolean,
    text: String,
    text2: String,
    disabled: Boolean
  },
  beforeCreate() {},
  data() {
    return {};
  },
  methods: {
    close() {
      this.$emit("on-close", false);
    }
  },
  watch: {}
};
</script>
<style lang="scss"></style>
