<template>
  <div id="worldMap"></div>
</template>
<script>
import $ from "jquery";
export default {
  props: {
    data: {
      type: Object,
      default: () => {
        return {};
      }
    },
    markers: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  methods: {
    initVectorMap() {
      window.$("#worldMap").vectorMap({
        map: "world_mill_en",
        backgroundColor: "transparent",
        zoomOnScroll: false,
        regionStyle: {
          initial: {
            fill: "#83B0CC",
            "fill-opacity": 0.9,
            stroke: "none",
            "stroke-width": 0,
            "stroke-opacity": 0
          }
        },

        markers: this.markers.map(h => {
          return { name: h.name, latLng: [h.latitude, h.longitude] };
        }),

        series: {
          regions: [
            {
              values: this.data,
              scale: ["#83B0CC", "#005287"],
              normalizeFunction: "polynomial"
            }
          ]
        }
      });
    }
  },
  async mounted() {
    window.$ = window.jQuery = $;
    require("jvectormap-next")($);
    await import("./world_map");
    this.initVectorMap();
  }
};
</script>
<style lang="scss"></style>
