<template>
  <div class="md-layout reportContainer">
    <loading
      :active.sync="isLoading"
      :can-cancel="true"
      :is-full-page="fullPage"
    ></loading>

    <!--New Summary-->

    <md-card>
      <md-card-content>
        <div class="md-layout">
          <!-- Datos compañía -->

          <div
            class="md-layout-item md-size-100 content-header"
            :class="this.countComponentsSummary()"
            v-if="
              this.showComponent('summary', 'company_name') ||
                this.showComponent('summary', 'total_documents') ||
                this.showComponent('summary', 'metacleaner') ||
                this.showComponent('summary', 'total_domain') ||
                this.showComponent('summary', 'total_leakages')
            "
          >
            <div class="md-layout">
              <div class="md-layout-item md-size-100">
                <h2>
                  <b>
                    {{ this.$S_i18n.t("APP_REPORT_S_SUMMARY_ANALYSIS_TITLE") }}
                  </b>
                </h2>
              </div>
              <div class="md-layout-item" v-if="this.summaryData.company_name">
                <h4>
                  <b>
                    {{ this.$S_i18n.t("APP_REPORT_S_SUMMARY_TITLE") }}
                    - {{ this.summaryData.company_name }}
                    <a
                      v-bind:href="
                        getCompanyUrl(this.summaryData.company_domain)
                      "
                      target="_blank"
                    >
                      ·
                      {{ `${getCompanyUrl(this.summaryData.company_domain)}` }}
                    </a>
                  </b>
                </h4>
              </div>
              <div
                class="md-layout-item"
                v-if="!this.reportExt && this.total_leakages"
              >
                <div class="text-right">
                  <md-button
                    class="md-primary md-round top-buttons md-sm"
                    style="display:inline;"
                    @click="copy_info()"
                    v-clipboard="copyExternalUrl(false)"
                    ><md-icon>content_copy</md-icon>
                    {{
                      this.$S_i18n.t("APP_REPORT_S_SUMMARY_BUTON_COPY_URL")
                    }}</md-button
                  >
                  <md-button
                    class="md-success md-round top-buttons md-sm"
                    style="display:inline;"
                    @click="copy_info()"
                    v-clipboard="copyExternalUrl(true)"
                    ><md-icon>content_copy</md-icon
                    ><md-icon>visibility_off</md-icon
                    >{{
                      this.$S_i18n.t("APP_REPORT_S_SUMMARY_BUTON_COPY_URL_HIDE")
                    }}</md-button
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Sumary Leakages -->
          <div
            v-if="this.total_leakages"
            class="md-layout-item md-size-50"
            :class="this.countComponentsSummary()"
          >
            <md-card class="inside-card-leakages">
              <md-card-content>
                <div class="md-layout">
                  <div class="md-layout-item md-size-30">
                    <div class="text-left">
                      <md-icon
                        class="text-white text-left medium-icon"
                        v-if="this.total_leakages > 0"
                        >privacy_tip</md-icon
                      >
                      <md-icon class="text-white text-left medium-icon" v-else
                        >verified</md-icon
                      >
                    </div>
                    <div v-if="this.total_leakages > 0">
                      <h2 class="title text-white text-left">
                        <b>
                          <animated-number
                            v-if="this.summaryData.total_leakages != null"
                            :value="this.summaryData.total_leakages"
                          ></animated-number
                        ></b>
                      </h2>
                    </div>
                  </div>
                  <div
                    class="md-layout-item md-size-70"
                    v-if="this.total_leakages > 0"
                  >
                    <h3 class="text-white">
                      <b>
                        {{
                          this.$S_i18n.t(
                            "APP_REPORT_S_SUMMARY_LEAKSFOUND_TITLE"
                          )
                        }}
                      </b>
                    </h3>
                    <p
                      class="card-subtitle text-white"
                      style="display:inline-block;"
                    >
                      {{
                        this.$S_i18n.t(
                          "APP_REPORT_S_SUMMARY_LEAKSFOUND_SUBTITLE"
                        )
                      }}
                    </p>
                  </div>
                  <div class="md-layout-item md-size-70" v-else>
                    <h3 class="text-white">
                      <b>
                        {{
                          this.$S_i18n.t(
                            "APP_REPORT_S_SUMMARY_LEAKSNOTFOUND_TITLE"
                          )
                        }}
                      </b>
                    </h3>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </div>
          <!-- Sumary documents -->
          <div
            v-if="this.total_leakages"
            class="md-layout-item md-size-50"
            :class="this.countComponentsSummary()"
          >
            <md-card class="inside-card-documents">
              <md-card-content>
                <div class="md-layout">
                  <div class="md-layout-item md-size-30">
                    <div class="text-left">
                      <md-icon class="text-white text-left medium-icon"
                        >insights</md-icon
                      >
                    </div>
                    <h2 class="title text-left">
                      <b>
                        <animated-number
                          class="text-white"
                          v-if="this.summaryData.total_documents != null"
                          :value="this.summaryData.total_documents"
                        ></animated-number
                      ></b>
                    </h2>
                  </div>
                  <div class="md-layout-item md-size-70">
                    <h3 class="text-white">
                      <b>
                        {{
                          this.$S_i18n.t("APP_REPORT_S_SUMMARY_DOCUMENTS_TITLE")
                        }}
                      </b>
                    </h3>
                    <p
                      class="card-subtitle text-white"
                      style="display:inline-block;"
                    >
                      {{
                        this.$S_i18n.t(
                          "APP_REPORT_S_SUMMARY_DOCUMENTS_SUBTITLE"
                        )
                      }}
                    </p>

                    <div></div>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </div>
          <!-- Metawash -->
          <div
            class="md-layout-item md-size-50"
            :class="this.countComponentsSummary()"
          >
            <md-card class="inside-card-metawash">
              <md-card-content>
                <div class="md-layout">
                  <div class="md-layout-item md-size-30">
                    <h1>
                      <md-icon class="text-white big-icon"
                        >cleaning_services</md-icon
                      >
                    </h1>
                  </div>
                  <div class="md-layout-item md-size-70">
                    <h3 class="text-white">
                      <b>
                        {{
                          this.$S_i18n.t("APP_REPORT_S_SUMMARY_METAWASH_TITLE")
                        }}
                      </b>
                    </h3>
                    <p class="card-subtitle text-white">
                      {{
                        this.$S_i18n.t("APP_REPORT_S_SUMMARY_METAWASH_SUBTITLE")
                      }}
                    </p>
                    <div>
                      <md-button
                        class="md-white md-round card-button md-sm"
                        href="https://metawash.me/#/landing"
                        target="_blank"
                      >
                        {{
                          this.$S_i18n.t("APP_REPORT_S_SUMMARY_METAWASH_BUTTON")
                        }}</md-button
                      >
                    </div>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </div>

          <!-- RGPD -->
          <div
            class="md-layout-item md-size-50"
            :class="this.countComponentsSummary()"
          >
            <md-card class="inside-card-rgpd">
              <md-card-content>
                <div class="md-layout">
                  <div class="md-layout-item md-size-30">
                    <h1>
                      <md-icon class="text-white big-icon">policy</md-icon>
                    </h1>
                  </div>
                  <div class="md-layout-item md-size-70">
                    <h3 class="text-white">
                      <b>
                        {{ this.$S_i18n.t("APP_REPORT_S_SUMMARY_RGPD_TITLE") }}
                      </b>
                    </h3>
                    <p class="card-subtitle text-white">
                      {{ this.$S_i18n.t("APP_REPORT_S_SUMMARY_RGPD_SUBTITLE") }}
                    </p>
                    <div>
                      <md-button
                        class="md-white md-round card-button md-sm"
                        @click="showSwal('rgpd')"
                      >
                        {{
                          this.$S_i18n.t("APP_REPORT_S_SUMMARY_RGPD_BUTTON")
                        }}</md-button
                      >
                    </div>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <!--- TABS --->
    <div class="tabs-container">
      <tabs
        :tab-name="[tabs_names[0], tabs_names[1], tabs_names[2]]"
        color-button="primary"
        v-if="this.total_leakages > 0"
      >
        <h4 class="title" slot="header-title">
          <b>
            {{ this.$S_i18n.t("APP_REPORT_S_REPORT_TITLE") }} -
            <span class="description">{{
              this.summaryData.company_name
            }}</span></b
          >
        </h4>
        <template slot="tab-pane-1">
          <Leakages v-bind:hideData="this.hideData"></Leakages>
        </template>
        <template slot="tab-pane-2">
          <Documents v-bind:hideData="this.hideData"></Documents>
        </template>
        <template slot="tab-pane-3">
          <Domains v-bind:hideData="this.hideData"></Domains>
        </template>
      </tabs>
      <div class="text-center" v-if="this.reportExt">
        {{ this.$S_i18n.t("BF_FOOTER_DEVELOP_TITLE") }}
        <a :href="this.link_suments" target="_blank">
          {{ this.$S_i18n.t("BF_FOOTER_COPYRIGHT") }} </a
        >,
        <md-icon class="text-warning">lock</md-icon>

        {{ this.$S_i18n.t("BF_FOOTER_COPYRIGHT_SLOGAN") }}
      </div>
      <br />
    </div>
  </div>
</template>
<script>
import Loading from "vue-loading-overlay";
import Legend from "chartist-plugin-legend";
import Tooltip from "chartist-plugin-tooltip";
import Fuse from "fuse.js";
import Swal from "sweetalert2";
//import Language from '@/components/Language/Language'
import { SyncLoader } from "@saeris/vue-spinners";
//import { i18n } from '@/i18n/i18n'
import { clipboard } from "vue-clipboards";
const options = {
  threshold: 0.3
};
import {
  AnimatedNumber,
  GlobalSalesCard,
  Pagination,
  DashboardCard,
  Tabs,
  Leakages,
  Documents,
  Domains
} from "@/components";

export default {
  directives: { clipboard },
  components: {
    Leakages,
    Documents,
    Domains,
    Tabs,
    AnimatedNumber,
    Loading
  },
  data() {
    return {
      visible_components: [
        {
          name: "summary",
          obj: {
            company_name: true,
            total_leakages: true,
            total_domain: true,
            total_documents: true,
            metacleaner: true
          }
        },
        {
          name: "leakages",
          obj: {
            equal: true,
            equal_legend: true,
            cheddar: true,
            cheddar_legend: true,
            table: true
          }
        },
        {
          name: "documents",
          obj: {
            equal: true,
            cloud: true,
            table: true
          }
        },
        {
          name: "domain",
          obj: {
            equal: true,
            map: true,
            table: true
          }
        },
        {
          name: "raw",
          obj: {
            table: true
          }
        },
        {
          name: "page",
          obj: {
            side_menu: false,
            footer: false,
            share_page: true,
            tooltip: true
          }
        }
      ],
      downloadFileLink: "",
      cleanButtonDisabled: true,
      isExpiredLink: false,
      isNotOrderMC: false,
      isOnGoingMC: false,
      isDoneMC: false,
      isTooManyFilesMC: false,
      isQueuedMC: false,
      metacleanerRequestClean: [],
      metacleanerStatus: "",
      page: 1,
      pageSize: 30,
      postData: {},
      load_components_data: [
        { page: 1, visible: true, disable: false },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true },
        { page: 1, visible: false, disable: true }
      ],
      statusComponents: [
        { name: "leakages", status: false },
        {
          name: "documents-report",
          status: false
        },
        {
          name: "eq-report",
          status: false
        },
        { name: "domains", status: false },
        { name: "raw", status: false }
      ],

      isShowDocument: false,
      isShowDomain: false,
      empty: "./img/empty.svg",
      isLoading: false,
      fullPage: true,
      summaryData: {},
      tabs_names: [
        this.$S_i18n.t("APP_REPORT_S_LEAKAGES_TITLE"),
        this.$S_i18n.t("APP_REPORT_S_DOCUMENTS_TITLE"),
        this.$S_i18n.t("APP_REPORT_S_DOMAINS_TITLE")
      ],
      tabsname: [],
      selected: [],
      responsive: false,
      metawashUrl: process.env.VUE_APP_METAWASH_URL,
      contact_email: process.env.VUE_APP_BF_CONTACT_MAIL,
      total_leakages: 0,
      hideData: false,
      reportExt: false,
      link_suments: process.env.VUE_APP_BF_EXT_SUMENTS
    };
  },
  methods: {
    onCopy: function(e) {
      alert("Texto copiado al portapapeles");
    },
    onError: function(e) {
      alert("No se pudo copiar el texto al portapapeles");
    },

    copy_info() {
      this.showSwal("copy");
    },
    showSwal(type) {
      if (type === "save") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
      if (type === "copy") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_COPY_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
      if (type == "rgpd") {
        Swal.fire({
          title: this.$S_i18n.t("APP_RGPD_POPUP_TITLE"),
          text: this.$S_i18n.t("APP_RGPD_POPUP_TEXT") + this.contact_email,
          buttonsStyling: false,
          confirmButtonClass: "md-button md-success"
        });
      }
    },

    countComponentInOtherSections(elem1, elem2) {
      return elem1 && elem2 ? "md-size-50" : "md-size-100";
    },
    countComponentsSummary() {
      const sumObj = this.visible_components.find(el => el.name === "summary")[
        "obj"
      ];
      let count = 0;

      for (var [key, value] of Object.entries(sumObj)) {
        value ? count++ : "";
      }
      return this.getstylelabelsGrid(count);
    },
    getstylelabelsGrid(num) {
      const obj = {
        1: "md-size-100",
        2: "md-size-50",
        3: "md-size-33",
        4: "md-size-25",
        5: "md-size-20"
      };
      return obj[num];
    },
    validator(value) {
      const reg = /^([A-Z0-9_]{5})[k]([A-Z0-9_]{5})[k]([A-Z0-9_]{3})[k]([A-Z0-9_]{3})[k]([A-Z0-9_]{1})[k]([A-Z0-9_]{4})/;
      return reg.test(value);
    },
    checkValidations(value, path) {
      return this.validator(value);
    },
    sentEventToDashboardLayout() {
      this.$emit(`show-footer-menu`, {
        footer: this.showComponent("page", "footer"),
        side_menu: this.showComponent("page", "side_menu")
      });
    },

    showComponent(comp, elem) {
      return this.visible_components.find(el => el.name === comp)["obj"][elem];
    },
    getBoolean(el) {
      const alphabet = [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O",
        "P",
        "Q",
        "R",
        "S",
        "T",
        "U",
        "V",
        "W",
        "X",
        "Y",
        "Z"
      ];
      return !!alphabet.find(ele => ele === el)
        ? alphabet.findIndex(letter => letter === el) >= 1
        : el > 4;
    },
    setPath() {
      const splitPath = this.$route.query.path.split("k");
      return splitPath.map(
        (ar, arIndex) =>
          (ar = ar.split("").map(arr => (arr = this.getBoolean(arr))))
      );
    },

    getVisibleComponents(path) {
      this.visible_components.map((el, elIndex) => {
        return (el.obj = Object.fromEntries(
          Object.entries(el.obj).map(([key, value], i) => [
            key,
            (value = path[elIndex][i])
          ])
        ));
      });
    },
    copyExternalUrl(isHide) {
      return !isHide
        ? `${location.host}/#/report/${localStorage.getItem(
            "op_id_analysis"
          )}?token=${localStorage.getItem("op_long_token")}`
        : `${location.host}/#/verics/${localStorage.getItem(
            "op_id_analysis"
          )}?token=${localStorage.getItem("op_long_token")}`;
    },

    openExternalReport(isHide) {
      var new_id_analysis = this.$route.params.idReport;
      var new_token = this.$route.query.idReport;

      if (isHide) {
        this.$router.push({
          path: "/verics/" + localStorage.getItem("op_id_analysis"),
          query: {
            token: localStorage.getItem("token")
          }
        });
      } else {
        this.$router.push({
          path: "/report/" + localStorage.getItem("op_id_analysis"),
          query: {
            token: localStorage.getItem("token")
          }
        });
      }
    },
    changeStatus(e) {
      this.statusComponents.find(el => el.name === e).status = true;
    },
    isbeginsHttp(url) {
      const reg = /^https?:\/\//;
      return reg.test(url);
    },
    getCompanyUrl(url) {
      if (!this.isbeginsHttp(url) && url != undefined) {
        return `http://${url}`;
      }
      return url;
    },
    loadNextComponent(n, comp) {
      this.load_components_data[n].visible = true;
      if (this.statusComponents.find(el => el.name === comp).status) {
        this.load_components_data[n].disable = true;
        this.load_components_data[n + 1].disable = false;
      }
      return "";
    },
    openReport(name, token, sm, bf) {
      const path = `/dashboard/?name=${name}&token=${token}`;
      if (this.$route.path !== path) this.$router.push(path);
    }
  },
  created() {
    this.isLoading = true;
  },

  beforeMount() {
    if (this.$myFlag != true) {
      // This means main.js was run and all classes are created.
      //this.$BF_TOOLS = new BF_TOOLS();
      this.$BF_Services = new BFS(router);
      this.$APP_Services = new APPS(router);
      this.$S_axios = new S_axios();
      this.$S_i18n = S_i18n;
    }
  },

  mounted() {
    if (this.$route.query.token != null) {
      if (this.$route.query.token.length == 64) {
        localStorage.setItem("op_long_token", this.$route.query.token);
      }
    }

    /*
    this.$APP_Services.data = {
        token_report : localStorage.getItem("op_token_report")
    };
    */

    this.$APP_Services.VRSummary().then(r_summary => {
      this.summaryData = r_summary.data.payload;
      this.total_leakages = r_summary.data.payload.total_leakages;
      this.isLoading = false;

      this.ctrl_data_ready = true;
    });
  },
  watch: {
    fileDownload(filename, text) {
      var element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," + encodeURIComponent(text)
      );
      element.setAttribute("download", filename);
      element.style.display = "none";
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    }
  }
};
</script>
<style lang="scss" scoped>
.main-title {
  margin-top: 0;
}
.align-left {
  display: flex;
  flex-direction: column;
}
.company_name_header {
  height: 185px;
  margin-left: 15px;
  margin-right: 0px;
  margin-top: -50px;
  margin-bottom: 0px;
  max-width: 160px;
  height: 130px;
}
.reportContainer {
  .md-layout-item {
    .md-card {
      height: 78%;
      justify-content: space-between;
    }
  }
  .company_name_box {
    display: flex;
    .company_name {
      .company_name_header {
        // align-right;
        margin-left: 15px;
        margin-right: 0px;
        margin-top: -50px;
        margin-bottom: 0px;
        max-width: 160px;
        height: 130px;
      }
    }
  }
  .total_leakages_box {
    .total_leakages_card {
      height: 185px;
    }
  }
  .total_documents_box {
    .total_documents_card {
      height: 185px;
    }
  }
  .metacleaner_box {
    .metacleaner_card {
      height: 185px;
    }
  }
  .leakages_container {
    .title {
      font-size: 22px;
    }
  }
  .title_container_tooltip {
    .title {
      font-size: 22px;
    }
    display: flex;
    .tootltip-button {
      margin-top: -10px;
      margin-left: -5px;
    }
  }
}
.flex {
  display: flex;
  md-icon,
  p {
    margin: 0;
  }
}

.color-a {
  color: #007cff !important;
}

.loader {
  width: 100%;
}
.box-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .empty {
    width: 30%;
  }
  h2 {
    margin: 0;
  }
}

.long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-header {
  display: flex;
  justify-content: space-between;
  .title-report {
    font-size: 22px;
    margin-top: -40px;
  }
}
.card-subtitle {
  margin-top: -5px;
  font-weight: 600;
}
.card-button {
  margin-left: -5px;
}
.big-icon {
  font-size: 70px !important;
  padding-left: 50px;
  padding-top: -10px;
}
.medium-icon {
  font-size: 50px !important;
  margin-top: 25px;
  margin-left: -5px;
  margin-bottom: -10px;
}

.animated-number {
  padding: 50px;
}
.top-buttons {
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 15px;
}
.inside-card-leakages {
  background-color: #2f3348;
  box-shadow: none;
  width: 95%;
  margin-left: 0px;
}
.inside-card-documents {
  background-color: #2f3348;

  box-shadow: none;
  width: 95%;
  margin-left: 0px;
}
.inside-card-metawash {
  background-color: #a3bbe7;
  box-shadow: none;
  width: 95%;
  margin-left: 0px;
}
.inside-card-rgpd {
  background-color: #fa9d5b;
  box-shadow: none;
  width: 95%;
  margin-left: 0px;
}
</style>
