@mixin ct-responsive-svg-container($width: 100%, $ratio: $ct-container-ratio) {
  display: block;
  position: relative;
  width: $width;

  &:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: $ratio * 100%;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  >svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin ct-align-justify($ct-text-align: $ct-text-align,
  $ct-text-justify: $ct-text-justify) {
  -webkit-box-align: $ct-text-align;
  -webkit-align-items: $ct-text-align;
  -ms-flex-align: $ct-text-align;
  align-items: $ct-text-align;
  -webkit-box-pack: $ct-text-justify;
  -webkit-justify-content: $ct-text-justify;
  -ms-flex-pack: $ct-text-justify;
  justify-content: $ct-text-justify;

  // Fallback to text-align for non-flex browsers
  @if ($ct-text-justify=="flex-start") {
    text-align: left;
  }

  @else if ($ct-text-justify=="flex-end") {
    text-align: right;
  }

  @else {
    text-align: center;
  }
}

@mixin ct-flex() {
  // Fallback to block
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin ct-chart-label($ct-text-color: $ct-text-color,
  $ct-text-size: $ct-text-size,
  $ct-text-line-height: $ct-text-line-height) {
  fill: $ct-text-color;
  color: $ct-text-color;
  font-size: $ct-text-size;
  line-height: $ct-text-line-height;
}

@mixin ct-chart-grid($ct-grid-color: $ct-grid-color,
  $ct-grid-width: $ct-grid-width,
  $ct-grid-dasharray: $ct-grid-dasharray) {
  stroke: $ct-grid-color;
  stroke-width: $ct-grid-width;

  @if ($ct-grid-dasharray) {
    stroke-dasharray: $ct-grid-dasharray;
  }
}

@mixin ct-chart-point($ct-point-size: $ct-point-size,
  $ct-point-shape: $ct-point-shape) {
  stroke-width: $ct-point-size;
  stroke-linecap: $ct-point-shape;
}

@mixin ct-chart-line($ct-line-width: $ct-line-width,
  $ct-line-dasharray: $ct-line-dasharray) {
  fill: none;
  stroke-width: $ct-line-width;

  @if ($ct-line-dasharray) {
    stroke-dasharray: $ct-line-dasharray;
  }
}

@mixin ct-chart-area($ct-area-opacity: $ct-area-opacity) {
  stroke: none;
  fill-opacity: $ct-area-opacity;
}

@mixin ct-chart-bar($ct-bar-width: $ct-bar-width) {
  fill: none;
  stroke-width: $ct-bar-width;
}

@mixin ct-chart-donut($ct-donut-width: $ct-donut-width) {
  fill: none;
  stroke-width: $ct-donut-width;
}

@mixin ct-chart-series-color($color) {

  .#{$ct-class-point},
  .#{$ct-class-line},
  .#{$ct-class-bar},
  .#{$ct-class-slice-donut} {
    stroke: $color;
  }

  .#{$ct-class-slice-pie},
  .#{$ct-class-area} {
    fill: $color;
  }
}

@mixin ct-chart($ct-container-ratio: $ct-container-ratio,
  $ct-text-color: $ct-text-color,
  $ct-text-size: $ct-text-size,
  $ct-grid-color: $ct-grid-color,
  $ct-grid-width: $ct-grid-width,
  $ct-grid-dasharray: $ct-grid-dasharray,
  $ct-point-size: $ct-point-size,
  $ct-point-shape: $ct-point-shape,
  $ct-line-width: $ct-line-width,
  $ct-bar-width: $ct-bar-width,
  $ct-donut-width: $ct-donut-width,
  $ct-series-names: $ct-series-names,
  $ct-series-colors: $ct-series-colors) {
  .#{$ct-class-label} {
    @include ct-chart-label($ct-text-color, $ct-text-size);
  }

  .#{$ct-class-chart-line} .#{$ct-class-label},
  .#{$ct-class-chart-bar} .#{$ct-class-label} {
    @include ct-flex();
  }

  .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
    @include ct-align-justify(flex-end, flex-start);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: start;
  }

  .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
    @include ct-align-justify(flex-start, flex-start);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: start;
  }

  .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
    @include ct-align-justify(flex-end, flex-end);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: end;
  }

  .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
    @include ct-align-justify(flex-end, flex-start);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: start;
  }

  .#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
    @include ct-align-justify(flex-end, center);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: start;
  }

  .#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
    @include ct-align-justify(flex-start, center);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: start;
  }

  .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
    @include ct-align-justify(flex-end, flex-start);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: start;
  }

  .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
    @include ct-align-justify(flex-start, flex-start);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: start;
  }

  .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
    //@include ct-chart-label($ct-text-color, $ct-text-size, center, $ct-vertical-text-justify);
    @include ct-align-justify(center, flex-end);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: end;
  }

  .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
    @include ct-align-justify(center, flex-start);
    // Fallback for browsers that don't support foreignObjects
    text-anchor: end;
  }

  .#{$ct-class-grid} {
    @include ct-chart-grid($ct-grid-color, $ct-grid-width, $ct-grid-dasharray);
  }

  .#{$ct-class-point} {
    @include ct-chart-point($ct-point-size, $ct-point-shape);
  }

  .#{$ct-class-line} {
    @include ct-chart-line($ct-line-width);
  }

  .#{$ct-class-area} {
    @include ct-chart-area();
  }

  .#{$ct-class-bar} {
    @include ct-chart-bar($ct-bar-width);
  }

  .#{$ct-class-slice-donut} {
    @include ct-chart-donut($ct-donut-width);
  }

  @if $ct-include-colored-series {
    @for $i from 0 to length($ct-series-names) {
      .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} {
        $color: nth($ct-series-colors, $i + 1);

        @include ct-chart-series-color($color);
      }
    }
  }
}

@if $ct-include-classes {
  @include ct-chart();

  @if $ct-include-alternative-responsive-containers {
    @for $i from 0 to length($ct-scales-names) {
      .#{nth($ct-scales-names, $i + 1)} {
        @include ct-responsive-svg-container($ratio: nth($ct-scales, $i + 1));
      }
    }
  }
}

ct-series-colors .ct-blue {
  stroke: $brand-primary !important;
}

.ct-azure {
  stroke: $brand-info !important;
}

.ct-green {
  stroke: $brand-success !important;
}

.ct-orange {
  stroke: $brand-warning !important;
}

.ct-red {
  stroke: $brand-danger !important;
}

.ct-white {
  stroke: $white-color !important;
}

.ct-rose {
  stroke: $brand-rose !important;
}

/* Pie charts consist of solid slices where you can use this selector to override the default style. */
.ct-series-a .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $brand-danger;
}

.ct-series-b .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $brand-warning;
}

.ct-series-c .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $brand-success;
}

.ct-series-d .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $brand-info;
}

.ct-series-e .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $brand-primary;
}

.ct-series-f .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $brand-cyan;
}

/**Fin colores piechart**/

.ct-series-a .ct-slice-donut {
  /* give the donut slice a custom colour */
  stroke: $brand-success-w;
}

.ct-series-b .ct-slice-donut {
  /* give the donut slice a custom colour */
  stroke: $brand-danger-w;
}

.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: rgba(36, 154, 245, 0.35);
}

.ct-series-b .ct-point {
  /* Colour of your points */
  stroke: rgba(250, 93, 61, 0.65);
}

.ct-chart-line .ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-100%) rotate(-45deg);
  white-space: nowrap;
  font-size: 12px;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  transform-origin: 100% 0;
  transform: translate(-60%) rotate(-45deg);
  white-space: nowrap;
  font-size: 12px;
  line-height: 1 !important;
  text-align: center !important;

}

/* Legend styles */

.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;
  text-align: left;
}

ul.ct-legend {
  top: -20px;
  margin: auto;
}

.ct-legend li {
  position: relative;
  padding-left: 23px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
}

.ct-legend li:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  content: "";
  border: 3px solid transparent;
  border-radius: 2px;
}

.ct-legend li.inactive:before {
  background: transparent;
}

.ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}

.ct-legend.ct-legend-inside li {
  display: block;
  margin-right: 50px;
  line-height: 1.4em;
}

.ct-legend .ct-series-0:before {
  background-color: $brand-danger;
  border-color: $brand-danger;
}

.ct-legend .ct-series-1:before {
  background-color: $brand-warning;
  border-color: $brand-warning;
}

.ct-legend .ct-series-2:before {
  background-color: $brand-success;
  border-color: $brand-success;
}

.ct-legend .ct-series-3:before {
  background-color: $brand-info;
  border-color: $brand-info;
}

.ct-legend .ct-series-4:before {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.ct-legend .ct-series-5:before {
  background-color: $brand-cyan;
  border-color: $brand-cyan;
}

.ct-legend .ct-series-6:before {
  background-color: $brand-success-w;
  border-color: $brand-success-w;
}

.ct-legend .ct-series-6:before {
  background-color: $brand-success-w;
  border-color: $brand-success-w;
}

//Chartist - tooltip

.ct-tooltip {
  position: absolute;
  display: none;
  min-width: 5em;
  padding: 8px 10px;
  background: #383838;
  color: #fff;
  text-align: center;
  pointer-events: none;
  z-index: 100;
  transition: opacity 0.2s linear;
}

.ct-tooltip:before {
  position: absolute;
  bottom: -14px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(251, 249, 228, 0);
  border-top-color: #383838;
  border-width: 7px;
  margin-left: -8px;
}

.ct-tooltip.tooltip-show {
  display: inline-block !important;
}