<template>
  <div class="md-layout">
    <form>
      <md-card>
        <md-card-header>
          <h4 class="title">
            <b> {{ this.$S_i18n.t("APP_ADD_DOMAIN_FORM_TITLE") }} </b
            ><small>
              {{ this.$S_i18n.t("APP_ADD_DOMAIN_FORM_SUBTITLE") }}
            </small>
          </h4>
        </md-card-header>

        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_DOMAIN_FORM_COMPANY_NAME") }}
                </label>
                <md-input
                  v-model="name_comercial"
                  @keyup.enter="update_info()"
                ></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t("APP_ADD_DOMAIN_FORM_COMPANY_CONTACT_NAME")
                  }}
                </label>
                <md-input
                  v-model="contact"
                  type="text"
                  @keyup.enter="update_info()"
                ></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_DOMAIN_FORM_COMPANY_EMAIL") }}
                </label>
                <md-input v-model="email" type="email"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_DOMAIN_FORM_COMPANY_TELEPHONE") }}
                </label>
                <md-input
                  v-model="phone"
                  type="text"
                  @keyup.enter="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_DOMAIN_FORM_COMPANY_WEBSITE") }}
                </label>
                <md-input v-model="domain" type="text"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100" v-if="name_empty_error">
              <p class="description text-left text-danger">
                <b>
                  {{ this.$S_i18n.t("APP_ADD_COMPANY_ERROR_NAME_EMPTY") }}
                </b>
              </p>
            </div>
            <div class="md-layout-item md-size-100" v-if="domain_empty_error">
              <p class="description text-left text-danger">
                <b>
                  {{ this.$S_i18n.t("APP_ADD_COMPANY_ERROR_DOMAIN_EMPTY") }}
                </b>
              </p>
            </div>
            <div class="md-layout-item md-size-100" v-if="invalid_domain_error">
              <p class="description text-left text-danger">
                <b>
                  {{ this.$S_i18n.t("APP_ADD_COMPANY_ERROR_INVALID_EMPTY") }}
                </b>
                <a v-bind:href="suments_web_help" target="_blank"
                  ><u>
                    {{
                      this.$S_i18n.t("APP_ADD_COMPANY_ERROR_INVALID_EMPTY_LINK")
                    }}</u
                  >
                </a>
              </p>
            </div>
            <div class="md-layout-item md-size-60">
              <div class="action">
                <md-button
                  class="md-round md-success mt-4"
                  @click="update_info()"
                >
                  {{ this.$S_i18n.t("APP_ADD_COMPANY_BUTTON") }}
                </md-button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </form>
  </div>
</template>
<script>
import md5 from "md5";
import Swal from "sweetalert2";
export default {
  components: {},
  data() {
    return {
      fileRecords: [],
      config: {
        form: {},
        isReady: false
      },
      domainData: {
        domain: "www.example.com"
      },
      contact: "",
      email: "",
      phone: "",
      domain: "",
      name_comercial: "",
      invalid_domain_error: false,
      name_empty_error: false,
      domain_empty_error: false,
      suments_web_help: "https://suments.com/es/verics-guia-de-primeros-pasos/"
    };
  },

  async mounted() {
    if (localStorage.getItem("op_id_rup") != null) {
      this.$APP_Services.data = {
        id_domain: localStorage.getItem("op_id_rup")
      };
    }
    this.domainData = this.$BF_TOOLS.operationalInfo_Get();
    this.isReady = true;
    return;
  },

  beforeMount() {
    if (localStorage.getItem("op_id_rup") != null) {
      this.config.disable = false;
      this.domainData.tokenMeta = md5(
        localStorage.getItem("op_id_rup") + localStorage.getItem("op_domain")
      );
      this.domainData.domain = localStorage.getItem("op_domain");
    } else {
    }
  },

  methods: {
    update_info() {
      this.name_empty_error = false;
      this.domain_empty_error = false;
      this.invalid_domain_error = false;

      if (this.name_comercial == "") {
        this.name_empty_error = true;
        return;
      }

      if (this.domain == "") {
        this.domain_empty_error = true;
        return;
      }

      var domain_name = this.domain;

      if (this.domain.substr(this.domain.length - 1) == "/") {
        domain_name = this.domain.substring(0, this.domain.length - 1);
        this.domain = domain_name;
      }

      const isValidDomain = require("is-valid-domain");
      if (this.domain.includes("//")) {
        domain_name = this.domain.split("//")[1];
      }

      if (isValidDomain(domain_name) == false) {
        this.invalid_domain_error = true;
        return;
      }

      this.$BF_Services.data = {
        company_name: this.name_comercial,
        company_email: this.email,
        company_phone: this.phone,
        company_domain: this.domain,
        company_contact: this.contact
      };

      this.$BF_Services
        .addCompany()
        .then(() => this.$router.push("/dashboard"))
        .catch(() => {});
    },

    onCopy: function(e) {
      alert(this.$S_i18n.t("APP_BF_ADD_DOMAIN_TEXT_COPIED"));
    },
    onError: function(e) {
      alert(this.$S_i18n.t("APP_BF_ADD_DOMAIN_ERROR_COPY_TEXT"));
    },

    copy_info() {
      this.showSwal("auto-close");
    },

    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },

    save_info() {
      this.$BF_Services.data = {
        company_name: this.name_comercial,
        company_email: this.email,
        company_phone: this.phone,
        company_domain: this.domain,
        company_contact: this.contact
      };
      this.$BF_Services.data = this.domainData;
      this.$BF_Services.domain_form();
      this.$BF_TOOLS.operationalInfo_Set(this.$BF_Services.data);
      this.showSwal("auto-close");
    }
  }
};
</script>

<style scoped>
.md-field label {
  margin-top: 0px;
  margin-bottom: 15px;
}
</style>
