<template>
  <div class="content">
    <div class="md-layout md-layout-item md-small-size-100 md-size-100">
      <h1>
        AVISO LEGAL
      </h1>

      <h3>
        Objeto y aceptación
      </h3>

      El presente aviso legal regula el uso del sitio web:
      <a href="https://www.Verics.com">https://www.Verics.com</a>
      Sitio web del que es titular Suments Data Ltd., en adelante, EL PRESTADOR.
      <p>
        <!--Ejemplo-->
        El PRESTADOR del sitio web, pone a disposición de los usuarios el
        presente documento con el que pretende dar cumplimiento a las
        obligaciones dispuestas en el artículo 10 de la Ley 34/2002, de 11 de
        julio, de Servicios de la Sociedad de la Información y de Comercio
        Electrónico, así como informar a todos los usuarios sobre las
        condiciones de uso del sitio web.
      </p>
      <!----->
      <p>
        El PRESTADOR podrá modificar en cualquier momento el presente aviso
        legal, así como cualesquiera otras condiciones generales o particulares,
        reglamentos de uso, instrucciones o avisos que resulten de aplicación,
        notificándolo a los usuarios con antelación suficiente con el fin de
        mejorar los servicios ofrecidos a través de la web. Mediante la
        modificación del aviso legal publicado en el sitio web entenderá por
        cumplido dicho deber de notificación.
      </p>

      <p>
        La navegación por el sitio web del PRESTADOR atribuye la condición de
        usuario del mismo e implica la aceptación plena y sin reservas de todas
        y cada una de las disposiciones incluidas en este aviso legal, que
        pueden sufrir modificaciones,por lo que si el usuario no está de acuerdo
        con cualquiera de las condiciones aquí establecidas, no deberá usar este
        sitio web.
      </p>

      <p>
        Asimismo, el PRESTADOR se reserva el derecho de suspender, interrumpir o
        dejar de operar el sitio web en cualquier momento.
      </p>

      <p>
        Por lo tanto, recomendamos la previa visualización del contenido del
        aviso legal para conocer en todo momento las condiciones de acceso, uso
        y utilización del sitio web.
      </p>

      <p>
        Este sitio web ha sido creado por el PRESTADOR con carácter informativo
        y para uso personal de los usuarios. A través de este aviso legal, se
        pretende regular el acceso y uso de este sitio web, así como la relación
        entre el sitio web y sus usuarios.
      </p>

      <p>
        Accediendo a este sitio web se aceptan los siguientes términos y
        condiciones:
      </p>

      <ol start="1">
        <li>
          El acceso a este sitio web es responsabilidad exclusiva de los
          usuarios.
        </li>
        <li>
          El simple acceso a este sitio web no supone entablar ningún tipo de
          relación comercial entre el PRESTADOR y el usuario.
        </li>
        <li>
          El acceso y la navegación en este sitio web supone aceptar y conocer
          las advertencias legales, condiciones y términos de uso contenidas en
          ella.
        </li>
        <li>
          El PRESTADOR puede ofrecer servicios que podrán encontrarse sometidos
          a unas condiciones particulares propias que, según los casos,
          sustituyan, completen y/o modifiquen las presentes condiciones, y
          sobre las cuales se informará al usuario en cada caso concreto.
        </li>
        <li>
          El usuario se obliga a hacer un uso correcto del sitio web de
          conformidad con las leyes, la buena fe, el orden público, los usos del
          tráfico y el presente Aviso Legal. El usuario responderá frente al
          PRESTADOR o frente a terceros, de cualesquiera daños y perjuicios que
          pudieran causarse como consecuencia del incumplimiento de dicha
          obligación.
        </li>
      </ol>

      <h3>
        Sobre
      </h3>

      <p>
        Bajo el dominio Verics.com se ofrecen los servicios de:
      </p>
      <ul class="decimal_type">
        <li>Prestador:Suments Data Ltd.</li>
        <li>CI: NI665828</li>
        <li>
          Inscrita en<a
            href="https://find-and-update.company-information.service.gov.uk/company/NI665828"
            >The Company House</a
          >con el número de registro NI665828
        </li>
        <li>
          >Domicilio social: Ap C 2.5 181 Sandy Row Belfast Co. Antrim BT12 5EU
        </li>
        <li>
          Correo electrónico:
          <a href="mailto:hola@suments.com">hola@suments.com</a>
        </li>
      </ul>
      <p>
        Al no tener el PRESTADOR del sitio web sede en España, y a los efectos
        de lo dispuesto en el artículo 27 del RGPD (UE) 2016/679, hemos
        designado a un representante al que el usuario puede dirigirse para
        plantear cualquier problema o consulta relacionada con el tratamiento
        que hacemos de sus datos personales y/o nuestra política de privacidad y
        cookies.
      </p>
      <p>
        Nuestro representante en España es:
      </p>
      <ul>
        <li>
          Francisco Javier González Moncayo García
        </li>
        <li>
          Dirección: Calle Caba 19, 1D - 02001 Albacete (España)
        </li>
        <li>
          Correo electrnico:
          <a href="mailto:hola@suments.com">hola@suments.com</a>
        </li>
      </ul>
      <p>
        Todas las notificaciones y comunicaciones entre los usuarios y el
        PRESTADOR se considerarán eficaces, a todos los efectos, cuando se
        realicen a través de correo postal o cualquier otro medio de los
        detallados anteriormente.
      </p>

      <h3>
        Contenido
      </h3>

      <p>
        EL sitio web es una aplicación online que permite al usuario la
        generación automática y personalizada de los textos legales de su sitio
        web o ecommerce, mediante la contratación y pago del correspondiente
        plan de suscripción de licencia de uso anual por dominio, para el
        cumplimiento por parte del usuario de la legislación española y europea,
        que sea vigente en cada momento, en materia de protección de datos
        personales, servicios de la sociedad de la información, comercio
        electrónico y normativa sobre consumidores y usuarios que afecta a la
        contratación a distancia a través de páginas web.
      </p>

      <p>
        La aplicación es una herramienta informática que facilita al usuario la
        adecuación legal de su sitio web o ecommerce. La utilización de todos
        los servicios que ofrece la aplicación por parte del usuario queda
        supeditada a la celebración de un contrato con obligación de pago con el
        PROPIETARIO DE LA WEB y la aceptación de las Condiciones Generales de
        Contratación por parte del usuario. El usuario no podrá utilizar la
        aplicación si no acepta en su totalidad las Condiciones Generales
        publicadas en el sitio web.
      </p>

      <p></p>

      <h3>Acceso al sitio web</h3>

      <p>
        El acceso al sitio web es libre y gratuito para el usuario, salvo en lo
        relativo al coste de la conexión a través de la red de
        telecomunicaciones suministrada por el proveedor de acceso contratado
        por el usuario e implica sin reservas la aceptación de las presentes
        condiciones de uso que el usuario afirma comprender en su totalidad.
      </p>

      <p>
        Con carácter general, para el acceso a los contenidos informativos del
        sitio web no será necesario el registro previo del usuario.
      </p>

      <p>
        No obstante los servicios ofertados en el sitio web conllevan
        obligatoriamente el registro previo del usuario mediante la
        cumplimentación de los correspondientes formularios electrónicos de
        inscripción que para ello se establezcan en el sitio web y la aceptación
        de los términos y condiciones de uso que el PRESTADOR establezca a tal
        efecto.
      </p>

      <p></p>

      <h3>Claves de acceso o similares</h3>
      <p>
        En caso de que algún servicio del sitio web incluya claves de acceso o
        nombres de usuario, el Usuario elegirá e indicará sus propias claves de
        acceso (nombre de usuario, e-mail, log, contraseña, password, o
        similar), no pudiendo elegir para ellos palabras, expresiones o
        conjuntos gráfico-denominativos malsonantes, injuriosos, coincidentes
        con marcas, nombres comerciales, rótulos de establecimientos,
        denominaciones sociales, expresiones publicitarias, nombres y seudónimos
        de personajes de relevancia pública o famosos para cuya utilización no
        esté autorizado y, en general, contrarios a la ley o a las exigencias de
        la moral y buenas costumbres generalmente aceptadas.
      </p>
      <p>
        La asignación del nombre de usuario (log) se produce de manera
        automática previa elección del Usuario. En el supuesto de que estas
        claves solicitadas se encuentren reservadas, el Usuario deberá
        introducir unas nuevas claves de acceso.
      </p>

      <p>
        El usuario es el responsable de mantener la confidencialidad de las
        contraseña asociada a su cuenta, que utilizará para acceder a la
        aplicación, y se compromete a hacer un uso diligente de las claves de
        acceso, a no ponerlas a disposición de terceros, y a comunicar al
        PRESTADOR la pérdida o robo de las claves de acceso y el posible acceso
        por un tercero a las mismas.
      </p>

      <p>
        Si el usuario detectase cualquier uso no autorizado de su cuenta, deberá
        ponerlo en conocimiento de inmediato al PRESTADOR.
      </p>

      <p></p>

      <h3>Menores de edad</h3>

      <p>
        En relación con la navegación en el sitio web por parte menores, el
        usuario queda advertido que el PRESTADOR no puede controlar, aparte de
        otras circunstancias, que los menores de 14 años de edad hagan uso del
        sitio web y de sus servicios. Por ello, el PRESTADOR no asume ninguna
        responsabilidad alguna al respecto, y se comunica que serán los padres y
        tutores los únicos responsables de controlar y asistir a los menores en
        la navegación por este sitio web y habilitar cualesquiera otros
        mecanismos necesarios que, en su caso, impidan el acceso por parte de
        los menores al sitio web y/o sus servicios, no admitiendo el PRESTADOR
        ninguna reclamación al respecto.
      </p>
      <p>
        En el supuesto que algunos de nuestros servicios vayan dirigidos
        específicamente a menores de edad, el PRESTADOR solicitará la
        conformidad de los padres o tutores para la recogida de los datos
        personales o, en su caso, para el tratamiento automatizado de los datos.
      </p>

      <h3>Normas de utilización del sitio web</h3>

      El usuario se obliga a utilizar el sitio web y todo su contenido y
      servicios conforme a lo establecido en la ley, la moral, el orden público
      y en las presentes condiciones.

      <p>
        El PRESTADORpodrá interrumpir en cualquier momento el acceso a su sitio
        web si detecta un uso contrario a la legalidad, la buena fe o a las
        presentes condiciones.
      </p>

      <p>
        Asimismo el usuario, se obliga y compromete expresamente a hacer un uso
        adecuado de los contenidos y servicios del sitio web y a no emplearlos
        para:
      </p>

      <p>
        a) Difundir contenidos, delictivos, violentos, pornográficos, racistas,
        xenófobo, ofensivos, de apología del terrorismo o, en general,
        contrarios a la ley o al orden público.
      </p>

      <p>
        b) Realizar actividades ilícitas o constitutivas de delito, que atenten
        contra los derechos de terceros y/o que infrinjan la regulación sobre
        propiedad intelectual e industrial, o cualesquiera otras normas del
        ordenamiento jurídico aplicable.
      </p>

      <p>
        c) Introducir en la red virus informáticos o realizar actuaciones
        susceptibles de alterar, estropear, interrumpir o generar errores o
        daños en los documentos electrónicos, datos o sistemas físicos y lógicos
        del PRESTADORo de terceras personas; así como obstaculizar el acceso de
        otros usuarios al sitio web y a sus servicios mediante el consumo masivo
        de los recursos informáticos a través de los cuales elPRESTADORpresta
        sus servicios.
      </p>

      <p>
        d) Intentar acceder a las cuentas de correo electrónico de otros
        usuarios o a áreas restringidas del sitio web y, en su caso, extraer
        información.
      </p>

      <p>
        e) Suplantar la identidad de otro usuario, de las administraciones
        públicas o de un tercero.
      </p>

      <p>
        f) Reproducir, copiar, distribuir, poner a disposición o de cualquier
        otra forma comunicar públicamente, transformar o modificar los
        contenidos, a menos que se cuente con la autorización del titular de los
        correspondientes derechos o ello resulte legalmente permitido.
      </p>

      <p>
        g) Recabar datos con finalidad publicitaria y de remitir publicidad de
        cualquier clase y comunicaciones con fines de venta u otras de
        naturaleza comercial sin que medie su previa solicitud o consentimiento.
      </p>

      <h3>Exclusión de Responsabilidad</h3>

      <p>
        El acceso del usuario al sitio web no implica para el PRESTADOR la
        obligación de controlar la ausencia de virus, gusanos o cualquier otro
        elemento informático dañino. Corresponde al usuario, en todo caso, la
        disponibilidad de herramientas adecuadas para la detección y
        desinfección de programas informáticos dañinos.
      </p>
      <p>
        El PRESTADOR no se responsabiliza de los daños producidos en el software
        y equipos informáticos de los usuarios o de terceros durante la
        utilización de los servicios ofrecidos en el sitio web.
      </p>

      <p>
        El PRESTADOR no se responsabiliza de los daños o perjuicios de cualquier
        tipo producidos en el usuario que traigan causa de fallos o
        desconexiones en las redes de telecomunicaciones que produzcan la
        suspensión, cancelación o interrupción del servicio del sitio web
        durante la prestación del mismo o con carácter previo.
      </p>

      <p>
        El PRESTADOR se reserva el derecho de efectuar sin previo aviso las
        modificaciones que considere oportunas en su sitio web, pudiendo
        cambiar, suprimir o añadir tanto los contenidos y servicios que se
        presten a través de la misma como la forma en la que éstos aparezcan
        presentados o localizados en el sitio web.
      </p>

      <h3>
        Propiedad intelectual e industrial
      </h3>

      <p>
        El sitio web, incluyendo a título enunciativo pero no limitativo su
        programación, edición, compilación y demás elementos necesarios para su
        funcionamiento, el código fuente, los diseños, logotipos, textos y/o
        gráficos son propiedad del PRESTADOR o en su caso dispone de licencia o
        autorización expresa por parte de los autores.
      </p>
      <p>
        Todos los contenidos del sitio web se encuentran debidamente protegidos
        por la normativa de propiedad intelectual e industrial, así como
        inscritos en los registros públicos correspondientes.
      </p>

      <p>
        La reproducción total o parcial, uso, explotación, distribución y
        comercialización, requiere en todo caso de la autorización escrita
        previa por parte del PRESTADOR.
      </p>

      <p>
        Cualquier uso no autorizado previamente por parte del PRESTADOR será
        considerado un incumplimiento grave de los derechos de propiedad
        intelectual o industrial del autor.
      </p>

      <p>
        Los diseños, logotipos, texto y/o gráficos ajenos al PRESTADOR y que
        pudieran aparecer en el sitio web, pertenecen a sus respectivos
        propietarios, siendo ellos mismos responsables de cualquier posible
        controversia que pudiera suscitarse respecto a los mismos.
      </p>

      <p>
        El PRESTADOR reconoce a favor de sus titulares los correspondientes
        derechos de propiedad industrial e intelectual, no implicando su sola
        mención o aparición en el sitio web la existencia de derechos o
        responsabilidad alguna del PRESTADOR sobre los mismos, como tampoco
        respaldo, patrocinio o recomendación por parte del mismo.
      </p>

      <p></p>

      <h3>Enlaces</h3>

      <p>
        El establecimiento de un hiperenlace no implica en ningún caso la
        existencia de relaciones entre el PRESTADOR y el propietario del sitio
        web en la que se establezca, ni la aceptación y aprobación por parte del
        PRESTADOR de sus contenidos o servicios.
      </p>
      <p>
        Aquellas personas que se propongan establecer un hiperenlace previamente
        deberán solicitar autorización por escrito al PRESTADOR.
      </p>

      <p>
        En todo caso, el hiperenlace únicamente permitirá el acceso a la
        home-page o página de inicio de los sitios web, asimismo deberá
        abstenerse de realizar manifestaciones o indicaciones falsas, inexactas
        o incorrectas sobre el PRESTADOR, o incluir contenidos ilícitos,
        contrarios a las buenas costumbres y al orden público.
      </p>

      <p>
        El PRESTADOR no se responsabiliza del uso que cada usuario haga de la
        información puesta a disposición en el sitio web ni de las actuaciones
        que realice en base a la misma.
      </p>

      <p>
        El PRESTADOR no asume responsabilidad alguna por la información
        contenida en páginas web de terceros a las que se pueda acceder por
        &quot;links&quot; o enlaces desde cualquier página web propiedad del
        PRESTADOR.
      </p>

      <p>
        La presencia de &quot;links&quot; o enlaces en el sitio web del
        PRESTADOR tiene finalidad meramente informativa y en ningún caso supone
        sugerencia, invitación o recomendación sobre los mismos.
      </p>

      <h3>Envío de Comunicaciones Comerciales</h3>

      <p>
        En cumplimiento de lo dispuesto en la Disposición final segunda de la
        Ley 9/2014, de 9 de mayo, de Telecomunicaciones que modifica la Ley
        34/2002, de 11 de julio, de servicios de la sociedad de la información y
        de comercio electrónico, las comunicaciones comerciales realizadas por
        vía electrónica deberán ser claramente identificables como tales, y la
        persona física o jurídica en nombre de la cual se realizan también
        deberá ser claramente identificable, sin perjuicio de lo que dispongan
        las normativas dictadas por las Comunidades Autónomas con competencias
        exclusivas sobre consumo.
      </p>
      <p>
        El usuario, que facilite su datos de contacto al PRESTADOR al hacer clic
        en el botón "ENVIAR" de los formularios electrónicos de recogida de
        datos personales existentes en el sitio web y marque afirmativamente las
        dos casillas de obtención del consentimiento existentes,"Acepto el
        tratamiento de mis datos según las finalidades indicadas en la
        información básica de protección de datos"y "Doy mi consentimiento para
        recibir comunicaciones comerciales de sus servicios", autoriza
        manifiestamente y otorga su consentimiento expreso, libre e inequívoco
        al PRESTADOR para que trate sus datos personales con la finalidad de
        enviarle comunicaciones comerciales sobre sus servicios mediante carta,
        teléfono, correo electrónico, SMS/MMS, WhatsApp, Telegram o por otros
        medios de comunicación electrónica equivalentes.
      </p>
      <p>
        La base jurídica que legitima este tratamiento es el consentimiento del
        interesado, que podrá revocar en cualquier momento.
      </p>
      <p>
        En cumplimiento de lo previsto en los artículos 21 y 22 de la Ley
        34/2002, de 11 de julio, de servicios de la sociedad de la información y
        de comercio electrónico, el usuario podrá oponerse al tratamiento de sus
        datos con fines promocionales y revocar el consentimiento prestado a la
        recepción de comunicaciones comerciales vía correo electrónico con la
        simple notificación de su voluntad al PRESTADOR mediante un
        procedimiento sencillo y gratuito, consistente en remitir un correo
        electrónico a la dirección de correo electrónico
        <a href="mailto:hola@suments.com">hola@suments.com</a>, indicando en el
        Asunto del mensaje "BAJA" o "NO ENVIAR".
      </p>

      <p></p>

      <h3>Direcciones IP</h3>

      <p>
        Los servidores del sitio web podrán detectar de manera automática la
        dirección IP y el nombre de dominio utilizados por el usuario.
      </p>

      <p>
        Una dirección IP es un número asignado automáticamente a un ordenador
        cuando ésta se conecta a Internet. Toda esta información es registrada
        en un fichero de actividad del servidor que permite el posterior
        procesamiento de los datos con el fin de obtener mediciones únicamente
        estadísticas que permitan conocer el número de impresiones de páginas,
        el número de visitas realizadas a los servicios web, el orden de
        visitas, el punto de acceso, etc.
      </p>
      <p></p>

      <h3>Uso de cookies</h3>
      <p>
        El PRESTADOR por su propia cuenta o la de un tercero contratado para la
        prestación de servicios de medición, pueden utilizar cookies cuando el
        usuario navega por el sitio web.
      </p>

      <p>
        Las cookies son pequeños archivos de información que el servidor envía
        al ordenador de quien accede a el sitio web con la finalidad de
        registrar las actividades del usuario durante su tiempo de navegación y
        poder llevar a cabo determinadas funciones que son consideradas
        imprescindibles para el correcto funcionamiento y visualización de el
        sitio web.
      </p>
      <p>
        Las cookies utilizadas en el sitio web tienen, en todo caso, carácter
        temporal con la única finalidad de hacer más eficaz su transmisión
        posterior y desaparecen al terminar la sesión del usuario. En ningún
        caso se utilizarán las cookies para recoger información de carácter
        personal.
      </p>
      <p>
        El usuario tiene la posibilidad de configurar su navegador para ser
        avisado de la recepción de cookies y para impedir su instalación en su
        equipo. Para ellos se ruega consultar las instrucciones y manuales de su
        navegador para ampliar esta información.
      </p>

      <p>
        Mediante el uso de las cookies resulta posible que el servidor donde se
        encuentra la web, reconozca el navegador web utilizado por el usuario
        con la finalidad de que la navegación sea más sencilla, permitiendo, por
        ejemplo, el acceso a los usuarios que se hayan registrado previamente,
        acceder a las áreas o servicios reservados exclusivamente a ellos sin
        tener que registrarse en cada visita. Se utilizan también para medir la
        audiencia y parámetros del tráfico, controlar el progreso y número de
        entradas.
      </p>

      <h3>Exoneración de responsabilidad</h3>

      <p>
        El PRESTADOR se exime de cualquier tipo de responsabilidad derivada de
        la información publicada en su sitio web, siempre que esta información
        haya sido manipulada o introducida por un tercero ajeno.
      </p>

      <p>
        De acuerdo con los artículos 11 y 16 de Ley 34/2002, de 11 de julio, de
        Servicios de la Sociedad de la Información y de Comercio Electrónico, EL
        PRESTADOR se pone a disposición de los usuarios, autoridades competentes
        y fuerzas y cuerpos de seguridad para retirar o bloquear los contenidos
        que vulneren la legislación, los derechos de terceros o la moral y el
        orden público.
      </p>

      <p>
        El sitio web ha sido revisado y probado para que funcione correctamente.
        En principio, puede garantizarse el correcto funcionamiento los 365 días
        del año, 24 horas al día. No obstante, el PRESTADOR no descarta la
        posibilidad de que existan ciertos errores de programación, o que
        acontezcan causas de fuerza mayor, catástrofes naturales, huelgas, o
        circunstancias semejantes que hagan imposible el acceso a el sitio web.
      </p>

      <p>
        El PRESTADOR no garantiza el funcionamiento ininterrumpido de la
        aplicación por causas ajenas a su voluntad.
      </p>

      <p>
        En caso de interrupción del funcionamiento del sitio web, el PRESTADOR
        se compromete a devolverlo a un buen estado de funcionamiento a la mayor
        brevedad posible.
      </p>

      <p></p>

      <h3>
        Procedimiento en caso de realización de actividades de carácter ilícito
      </h3>

      <p>
        En el caso de que cualquier usuario o un tercero considere que existen
        hechos o circunstancias que revelen el carácter ilícito de la
        utilización de cualquier contenido y/o de la realización de cualquier
        actividad en las páginas web incluidas o accesibles a través del sitio
        web, deberá enviar una notificación al PRESTADOR identificándose
        debidamente, especificando las supuestas infracciones y declarando
        expresamente y bajo su responsabilidad que la información proporcionada
        en la notificación es exacta.
      </p>

      <h3>
        Legislación y fuero aplicable
      </h3>

      Para la resolución de todas las controversias o cuestiones relacionadas
      con el presente sitio web o de las actividades en él desarrolladas, será
      de aplicación la legislación española, a la que se someten expresamente
      las partes, siendo competentes para la resolución de todos los conflictos
      derivados o relacionados con su uso los Juzgados y Tribunales de la ciudad
      de Albacete (España), salvo que el usuario tenga la condición de
      consumidor, en cuyo caso las partes se someten a los Juzgados y Tribunales
      del domicilio en el que tenga su residencia habitual el consumidor.

      <p>
        Si cualquier cláusula incluida en las presentes condiciones fuese
        declarada total o parcialmente nula o ineficaz, tal nulidad o ineficacia
        tan sólo afectará a dicha disposición o a la parte de la misma que
        resulte nula o ineficaz, subsistiendo las presentes condiciones en todo
        lo demás y considerándose tal disposición total o parcialmente por no
        incluida.
      </p>
    </div>
  </div>
</template>
<style scoped>
div {
  text-align: justify;
  text-justify: inter-word;
}
strong,
.strong {
  font-weight: 900;
  color: black;
}
a,
.a {
  text-decoration: underline;
  color: green;
}
h3 {
  margin: 0px;
}
</style>
