<template>
  <router-view></router-view>
</template>

<script>
export default {};
</script>
<style>
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(./fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}
</style>
